<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    
  </configSections>
  <appSettings>
    <add key="CacheTemplatesTimeMinutes" value="1440"/>
    <add key="CacheTemplateMappingsTimeMinutes" value="120"/>
    <add key="EmailValidationLevel" value="3"/>
    <add key="CacheTemplatesEnabled" value="True"/>
    <add key="CacheTemplatesTimeMinutes" value="120"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="CacheResourceMetaDatasTimeMinutes" value="5"/>
    <add key="CacheEMSTCPAMessagesTimeMinutes" value="120"/>
    <add key="CacheCampaignApplicationIdsTimeMinutes" value="120"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings><add name="FEEntitiesContainer" connectionString="metadata=res://*/DataModel.FEModel.csdl|res://*/DataModel.FEModel.ssdl|res://*/DataModel.FEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=fe-sql1;initial catalog=Nexus;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/><add name="EMSEntities" connectionString="metadata=res://*/DataModel.EMSEntities.csdl|res://*/DataModel.EMSEntities.ssdl|res://*/DataModel.EMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qsqapl1-sql1;initial catalog=EMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
        <binding name="BasicHttpBinding_IService1" />
        <binding name="basicHttpEndPoint" />
        <binding name="BasicHttpBinding_ILeadScoringService" />
        <binding name="BasicHttpBinding_IMatchingService" />
        <binding name="BasicHttpBinding_IService2" />
        <binding name="BasicHttpBinding_IValidationService" />
        <binding name="BasicHttpBinding_IMatchingService1" />
        <binding name="BasicHttpBinding_IMatchingService2" />
        <binding name="BasicHttpBinding_IMatchingService3" />
        <binding name="basicHttpEndPoint1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_IMatchingService">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IMatchingService1">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="netTcpEndPoint">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://nexprodws01/Eddy.IS.PixelService/v3/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="LeadPingService.IService" name="BasicHttpBinding_IService" />
      <endpoint address="http://localhost:2725/MatchingService.svc/soap"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatchingService"
        contract="MatchingEngine.IMatchingService" name="BasicHttpBinding_IMatchingService" />
      <endpoint address="http://localhost:2725/ProspectService.svc/soap"
        binding="basicHttpBinding" bindingConfiguration="basicHttpEndPoint"
        contract="ProspectService.IProspectService" name="basicHttpEndPoint" />
      <endpoint address="http://emsfe-issvc1/EDDY.IS.ValidationEngine.Service/ValidationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IValidationService"
        contract="ValidationService.IValidationService" name="BasicHttpBinding_IValidationService" />
      <endpoint address="http://emsfe-issvc1/EDDY.IS.LeadScoring.Service/LeadScoringService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILeadScoringService"
        contract="LeadScoringService.ILeadScoringService" name="BasicHttpBinding_ILeadScoringService" />
      <endpoint address="http://emsfe-issvc1/EDDY.IS.Pixel.Service/V2/Soap/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="PixelsService.IService" name="BasicHttpBinding_IService1" />
      <endpoint address="http://localhost:2725/MatchingService.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_IMatchingService"
        contract="MatchingEngine.IMatchingService" name="CustomBinding_IMatchingService" />
      <endpoint address="http://localhost:2725/MatchingService.svc/soap"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatchingService2"
        contract="MatchingEngine.IMatchingService" name="BasicHttpBinding_IMatchingService2" />
      <endpoint address="http://localhost:62293/Service.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService2" contract="Five9Service.IService"
        name="BasicHttpBinding_IService2" />
      <endpoint address="http://cycle-issvc1/EDDY.ProspectService.Service/ProspectService.svc/soap"
        binding="basicHttpBinding" bindingConfiguration="basicHttpEndPoint1"
        contract="ProspectService.IProspectService" name="basicHttpEndPoint1" />
      <endpoint address="net.tcp://cycle-issvc1.eddycorp.local/EDDY.ProspectService.Service/ProspectService.svc"
        binding="netTcpBinding" bindingConfiguration="netTcpEndPoint"
        contract="ProspectService.IProspectService" name="netTcpEndPoint" />
      <endpoint address="http://tcpa-issvc1/EDDY.IS.MatchingEngine.Service/MatchingService.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_IMatchingService1"
        contract="MatchingEngine.IMatchingService" name="CustomBinding_IMatchingService1" />
      <endpoint address="http://tcpa-issvc1/EDDY.IS.MatchingEngine.Service/MatchingService.svc/soap"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatchingService3"
        contract="MatchingEngine.IMatchingService" name="BasicHttpBinding_IMatchingService1" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
