#ccpaPrivacyPolicyModal {
    display: block;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    top: 20%;
    height: 60%;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 3px 5px 5px #8a8a8a;
    POSITION: fixed;
    z-index: 9999;
    background-color: rgb(255, 255, 255);
    font-size: 12px;
}

#ccpaPrivacyPolicyModalCloseBtn {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 38px;
    cursor: pointer;
    height: 10%;
}


#ccpaPrivacyPolicyModalContent {
    padding: 3% 7%;
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
}

.ccpa-message {
    font-size: 12px;
}