#eddy-form-wizard-managedchoice-container .field-holder.checkbox {
    margin-top: 0;
}

#eddy-form-wizard-managedchoice-container .mc-SM-Display {
    position: relative;
}

#eddy-form-wizard-managedchoice-container .school-name {
    font-weight: bold;
}

#eddy-form-wizard-managedchoice-container .school-info {
    font-size: 12px;
    margin-bottom: 10px;
}

#eddy-form-wizard-managedchoice-container .mc-US-Display .school-name {
    font-size: 13px;
    margin-left: 8px;
    margin-top: 2px;
}

#eddy-form-wizard-managedchoice-container .mc-US-Display .school-start-date {
    font-size: 13px;
    margin-left: 8px;
    margin-top: 2px;
}

#eddy-form-wizard-managedchoice-container .mc-sm-program {
    padding-left: 1%;
    padding-right: 1%;
    display: inline-block;
    float: none;
    width: 31%;
    vertical-align: top;
}

#eddy-form-wizard-managedchoice-container .campusFlagIcon {
    font-size: 20px;
    margin-top: 5px;
    color: #2467D1;
    cursor: pointer;
}



#eddy-form-wizard-managedchoice-container .mc-SM-Area {
    margin-bottom: 25px;
    position: relative;
}

#eddy-form-wizard-managedchoice-container .mc-us-school .campusFlagIcon {
    background: white;
    border: 1px solid #ccc;
    float: left;
    padding: 6px 1.5%;
    margin-top: 0;
}

#eddy-form-wizard-managedchoice-container .mc-US-Area {
    position: relative;
}

    #eddy-form-wizard-managedchoice-container .mc-us-school select {
        width: 90%;
        background: white;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
        position: relative;
        left: -2px;
    }

    #eddy-form-wizard-managedchoice-container .mc-us-school .more-info {
        font-size: 12px;
        margin: 3px 0 2px 8px;
    }

    #eddy-form-wizard-managedchoice-container .mc-us-school .school-info-container {
        padding-top: 5px;
        padding-right: 0;
    }

    #eddy-form-wizard-managedchoice-container .mc-us-school .school-logo-container {
        padding: 0;
        margin-bottom: 5px;
    }


#eddy-form-wizard-managedchoice-container .checkbox-icon {
    cursor: pointer;
    float: left;
    margin-right: 5px;
    margin-left: -20px;
}

    #eddy-form-wizard-managedchoice-container .checkbox-icon:before {
        font-size: 19px;
    }

    #eddy-form-wizard-managedchoice-container .checkbox-icon.fa-square-o {
        margin-right: 6px;
    }

    #eddy-form-wizard-managedchoice-container .checkbox-icon.fa-check-square-o {
        margin-right: 8px;
    }


#eddy-form-wizard-managedchoice-container .managedchoice-express-consent label.express-consent-error {
    color: #B9121B;
}

#eddy-form-wizard-managedchoice-container #dvManagedChoiceError.error-summary,
#eddy-form-wizard-managedchoice-container #dvManagedChoiceError.error-summary * {
    color: #B9121B;
}


#eddy-form-wizard-managedchoice-container .mc-US-Display.disable {
    color: #BBB;
}

#eddy-form-wizard-managedchoice-container .mc-us-school select:disabled {
    background: none;
}

#eddy-form-wizard-managedchoice-container .form-nothanks-button {
    text-decoration: underline;
    cursor: pointer;
    margin-top: 5px;
    font-size: 14px;
}

.eddy-form-container .eddy-form-wizard-container .form-submit-button .fa-arrow-circle-right {
    vertical-align: top;
    position: relative;
}

#eddy-form-wizard-managedchoice-container #wizard-form-submit-button > div > span > span:nth-child(1) {
    font-size: 1.5em;
    padding-right: 0px;
    padding-bottom: 5px;
}

#eddy-form-wizard-managedchoice-container #wizard-form-submit-button .form-submit-button-inner {
    padding-top: 8px;
}

@media (max-width:1080px) {
    #eddy-form-wizard-managedchoice-container .mc-us-school select {
        width: 85%;
    }
}

@media (max-width:768px) {
    #eddy-form-wizard-managedchoice-container .checkbox-icon:before {
        font-size: 22px;
    }

    #eddy-form-wizard-managedchoice-container .checkbox-icon.fa-check-square-o {
        margin-right: 1px;
    }

    #eddy-form-wizard-managedchoice-container .mc-us-school .campusFlagIcon {
        padding: 9px 5px;
    }

    /* SS Minimize */
    .eddy-form-container .eddy-form-wizard-container #mc-SM-Area #mc-SM-Message {
        margin-bottom: 10px;
    }

        .eddy-form-container .eddy-form-wizard-container #mc-SM-Area #mc-SM-Message h3 {
            display: inline;
        }

    #eddy-form-wizard-managedchoice-header {
        height: 25px;
    }

    #eddy-form-container {
        padding-top: 0;
    }

    #eddy-form-wizard-managedchoice-container .school-info {
        font-size: 11px;
        margin-bottom: 10px;
    }

    #eddynexusform-wizard-managedchoice #mc-SM-Area, #eddynexusform-wizard-managedchoice #mc-US-Area {
        margin-bottom: 0;
    }

    #eddy-form-wizard-managedchoice-container .fill-out {
        display: none;
    }
    /* End SS Minimize */
}

@media (max-width:670px) {
    #eddy-form-wizard-managedchoice-container .campusFlagIcon {
        font-size: 19px;
    }

    #eddy-form-wizard-managedchoice-container .mc-us-school .campusFlagIcon {
        padding: 10px 5px 9px;
    }

    /* Continue Mobile Button */
    #screen-button div.table-cell {
        display: table-cell;
        vertical-align: middle;
    }

    #screen-button span.title, #screen-button span.subtitle {
        display: block;
        margin-top: 0;
        margin-bottom: 5px;
        padding: 0;
        font-weight: 700;
    }

    #screen-button span.subtitle {
        font-size: 14px;
        margin-bottom: 0;
    }

    #screen-button span.title {
        font-size: 22px;
    }

    #screen-button .table-cell table {
        display: inline-block;
        margin-bottom: auto;
        width: auto;
    }

        #screen-button .table-cell table tbody {
            border-top: none;
        }

    #screen-button table tr td {
        border: none;
        padding: 4px 4px;
        text-align: center;
        line-height: 100%;
    }
    /* End Continue Mobile Button */
}

@media (max-width:480px) {
    #eddy-form-wizard-managedchoice-container .checkbox-icon:before {
        font-size: 25px;
    }

    #eddy-form-wizard-managedchoice-container .mc-US-Display .school-name {
        margin-left: 10px;
    }

    #eddy-form-wizard-managedchoice-container .mc-US-Display .school-start-date {
        margin-left: 10px;
    }

    #eddy-form-wizard-managedchoice-container .mc-us-school .more-info {
        margin-left: 10px;
    }

    #eddy-form-wizard-managedchoice-container .mc-us-school select {
        padding-left: 5px;
        padding-right: 5px;
    }

    #eddy-form-wizard-managedchoice-container .campusFlagIcon {
        font-size: 16px;
    }

    #eddy-form-wizard-managedchoice-container .mc-us-school .campusFlagIcon {
        padding: 11px 5px;
    }
}


#eddy-form-wizard-managedchoice-container #managechoice-form-submit-button::before {
    content: "Submit Request";
}

#eddy-form-wizard-managedchoice-container #OnlineTab::before {
    content: "Online Schools";
}

#eddy-form-wizard-managedchoice-container #CampusTab::before {
    content: "Campus Schools";
}