#eddy-form-container .FEoverlay {
	background: none repeat scroll 0 0 #000000;
    height: 100%;
    left: 0;
    opacity: 0.7;
	filter: alpha(opacity = 70);
	zoom:1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
}

#eddy-form-container .cross-sell {
	background:#E5BBFF;
    position: absolute;
    left: auto !important;
    right: auto;
    top: 18%;
	width:610px;
    z-index: 9999;
	border:1px solid #fff;	
	padding:0.75em 1.5em;
}

#eddy-form-container .cross-sell h4 {
		color: #0968A6;
		font-family: georgia,serif;
		font-size: 25px;
		font-style: italic;
        font-weight:bold;
        line-height:28px;
		border-bottom: 1px solid #d7d7d7;
		padding-bottom: 0.5em;
	}

#eddy-form-container .cross-sell h5 {
		color: #111;
		font-family: georgia;
		font-size: 18px;
		font-style: italic;
		border-top: 1px solid #fff;
		padding-top: 0.5em;
		font-weight:normal;
        margin-top: 0;
	}

	#eddy-form-container .cross-sell img  {
		display: block;
		clear: both;
		border:1px solid #b7b7b7;
	}

    #eddy-form-container .cross-sell label  {
	    width: auto !important;
	}

	#eddy-form-container .cross-sell ul {
		margin:1em auto;
		border:none;
		list-style:none;
		width:605px;	
	}

	#eddy-form-container .cross-sell ul li p {margin:10px;}

	#eddy-form-container .cross-sell a.close-button {
		background:url("[SERVER]/images/close-button.gif") no-repeat;
		display:block;
		width:26px;
		height:26px;
		border: none !important;
		cursor: pointer;
		float: right;
		margin: 0;
		position: absolute;
		top: -8px;
		right: -8px;
	}

	#eddy-form-container .cross-sell a.close-overlay  {
		display:block;
		text-align:right;
		font-family:georgia,serif;
		font-size:12px;
        color: #0569A6;
	}

	#eddy-form-container .cross-sell li span.cross-sell-option {
		background: none repeat scroll 0 0 #0968A6;
		color: #fff;
		display: block;
		font-weight: bold;
		bottom: 0 !important;
		margin: 0.65em;
		padding: 0.4em 0 0.35em 0.25em;
		position: absolute;
		width: 115px;
		font-size:12px;
		border-radius: 4px 4px 4px 4px;	
	}
    #eddy-form-container .cross-sell li span.cross-sell-option.disable {
		background: none repeat scroll 0 0 #ccc;
	}

	#eddy-form-container .cross-sell input {
		margin: 0.05em 0.5em 0 0.25em;
	}

	#eddy-form-container .cross-sell .submit-button {
		clear:both;
		width:480px;
		height:63px;	
		margin:0 auto;
		display:block;	
		*padding-left:9%;
	}

	#eddy-form-container .cross-sell  .submit-button a{
		display:block;
		width:480px;
		height:63px;
		text-indent:-9999px;	
	}

		#eddy-form-container .submit-button.request-info {
			background:url("[SERVER]/images/button-request-info.gif") top left no-repeat;
		}

		#eddy-form-container .submit-button.search-again {
			background:url("[SERVER]/images/button-search-again.gif") top left no-repeat;
		}

/*--------*/

#eddy-form-container img {
	border:none;
}

#eddy-form-container li {
	list-style-type:none;
}

#eddy-form-container table {
	border-collapse: collapse;
}

#eddy-form-container .left {
	float:left;
}

#eddy-form-container .right {
	float:right;
}

#eddy-form-container .clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

#eddy-form-container .clearfix {
	*zoom:1;
}

#eddy-form-container .clear, #eddy-form-container .cleared {
	clear:both;
}

#eddy-form-container .hide, #eddy-form-container .hidden {
	display:none;
}


/*----------*/

#eddy-form-container .orange a {
    background: -moz-linear-gradient(center top , #FAA51A, #F47A20) repeat scroll 0 0 transparent;
    border: 1px solid #DA7C0C;
    color: #FEF4E9;
}

#eddy-form-container .button a {
    color: inherit;
    display: block;
    padding: 0.5em 2em 0.55em;
    text-decoration: none;
}

#eddy-form-container .request {
    font-size: 18px;
    font-weight: bold;
}

#eddy-form-container .button {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    clear: left;
    cursor: pointer;
    display: block;
    font: 14px/100% Arial,Helvetica,sans-serif;
    margin: 12px auto 0;
    outline: medium none;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
    width: 210px;
}


/*----------*/

#eddy-form-container .bold {font-weight:bold;}
#eddy-form-container .ital {font-style:italic;}
#eddy-form-container .uline {text-decoration:underline;}

/*----------*/

                        #eddy-form-container .cross-sell .cs-schools {
		                    margin-left:12px;
	                    }




/*----------*/

#eddy-form-container .success {
	width:640px;
	padding:20px;
}

#eddy-form-container .success img {
	margin:0 10px;
	float:left;	
}

#eddy-form-container .success ul {width:auto;}

#eddy-form-container .success ul li {
	background:#eff6f9;
	border: 1px solid #d0d6d9;	
	float:left;
	width:300px;
	min-height:160px;
	font-size:12px;
	margin:0 10px 10px 0;
	padding:10px 0;
	position:relative;
}

#eddy-form-container .success li span {
	position:absolute;
	margin:0 0 10px 0.65em;
}

#eddy-form-container .success li p {
	margin:0 10px 10px !important;
    line-height: 15px;
}

/*-----*/

#eddy-form-container .cross-sell-popup {
    top: 10%;
    left: 50%;
}

#eddy-form-container  #crossSellForm {
    margin: 4px 0 0 -15px;
    min-height: 195px;
    max-height: 390px;
    overflow: auto;
    width: 650px;
    position:relative; /* suggested by HChen to fix ie8 compatibility view issue */
}
    #eddy-form-container  #crossSellForm.OneProgram {
        margin: 4px 160px 0 !important;
        overflow: visible !important;
    }
    #eddy-form-container  #crossSellForm.MultiplePrograms {
        margin: 4px 0 0 !important;
        overflow: visible !important;
    }

#eddy-form-container .groundcampusflag
{
    background: #EFF6F9 !important;
}
#eddy-form-container .groundCampusFlagIcon
{
    background:url("[SERVER]/images/icon-campus-flag2.png") no-repeat !important;
    position:absolute;
    top: 5px;
    right:5px;
    width: 15px;
    height: 15px;
    background-size: 15px 15px !important;
}
#eddy-form-container .groundcampusflag img {
    /*
    border-style: solid !important;
    border-width:3px !important;
    border-color: #FF00FF !important;
        */
}

#eddy-form-container .onlinecampusflag
{
    background: #EFF6F9 !important;
}
#eddy-form-container .onlineCampusFlagIcon
{
    background:url("[SERVER]/images/icon-online-flag2.png") no-repeat !important;
    position:absolute;
    top: 5px;
    right:5px;
    width: 15px;
    height: 15px;
    background-size: 15px 15px !important;
}
#eddy-form-container .onlinecampusflag img {
    /*
    border-style: solid !important;
    border-width:3px !important;
    border-color: #FF00FF !important;
        */
}

#eddy-form-container .CSdisclosure
{
    margin: 10px 0 0 0 !important;
}
#eddy-form-container .CSdisclaimerReferenceNumber, #eddy-form-container .CSdisclosure p {
    font-size: 10px !important;
    line-height: 13px !important;
    margin: 0 5px 0 0 !important;
    z-index: 9999 !important;
}
#dvCrossSellSchools .CSdisclaimerReferenceNumber
{
    vertical-align: super !important;
    font-weight:normal !important;
    margin-top:-1px !important;
    background: #EFF6F9 !important;
    border-radius: 0 !important;
    bottom: auto !important;
    color:	#3B3B3B !important;
    display: inline !important;
    padding: 0 !important;
    width: auto !important;
}

#eddy-form-container .cross-sell-express-consent
{
    padding: 20px 0 20px 50px;
    width: 75%;
}

#eddy-form-container .cross-sell-express-consent label 
{
    font-size: 10px !important;
    line-height: 13px !important;
    margin: 0 5px 0 0 !important;
    text-align: left !important;
}

#eddy-form-container .cross-sell-express-consent label.express-consent-black
{
    color: #000 !important;
}
#eddy-form-container .cross-sell-express-consent label.express-consent-error
{
    color: #B9121B !important;
}

#eddy-form-container #dvCrossSellError .error-summary
{
    padding: 10px 0 0 15px !important;
}

#eddy-form-container .cross-sell-option input
{
    float:left !important;
}

#eddy-form-container .cross-sell-option label
{
    margin-top: 2px !important;
}

/*------*/


/*     BUTTON STYLES     */
#eddy-form-container .button{display:block;zoom:1;vertical-align:baseline;margin:12px auto 0;outline:none;cursor:pointer;text-align:center;text-decoration:none;font:14px/100% Arial,Helvetica,sans-serif;/*padding:.5em 2em .55em;*/text-shadow:0 1px 1px rgba(0,0,0,.3);-webkit-border-radius:.5em;-moz-border-radius:.5em;border-radius:.5em;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2);/*width: 160px;*/ clear: both;}
#eddy-form-container .button:hover{text-decoration:none;}
#eddy-form-container .button:active{position:relative;top:1px;}
#eddy-form-container .button a{display:block; padding:.5em 2em .55em; text-decoration: none;}
#eddy-form-container .request {font-size: 18px; font-weight: bold;}
/*     BUTTON COLOR STYLES     */
#eddy-form-container .orange{border:solid 1px #da7c0c;background:#f78d1d;background:-webkit-gradient(linear,left top,left bottom,from(#faa51a),to(#f47a20));background:-moz-linear-gradient(top,#faa51a,#f47a20);}
#eddy-form-container .orange a{color:#fef4e9; border: none; background: none;}
#eddy-form-container .orange:hover{background:#f47c20;background:-webkit-gradient(linear,left top,left bottom,from(#f88e11),to(#f06015));background:-moz-linear-gradient(top,#f88e11,#f06015);}
#eddy-form-container .orange:active{color:#fcd3a5;background:-webkit-gradient(linear,left top,left bottom,from(#f47a20),to(#faa51a));background:-moz-linear-gradient(top,#f47a20,#faa51a);}