@inherits System.Web.Mvc.WebViewPage<EDDY.IS.FormsEngine.Services.Models.NoMatchModel>


@if(!Model.GenericNoMatch)
{
<div class="eddy-form-wizard-container">

    <div id="eddy-form-wizard-nomatch-header" class="eddy-form-wizard-header">   </div><!-- end of #eddy-form-wizard-header -->
    <div class="eddy-form-wizard-body col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 clearfix">
        <div class="form-page-step-message-nomatch">
            <h2><strong>@Model.UserFullName, Thank you!</strong></h2>
        </div>
        <div id="nomatch_ads_listing">

        </div>

    </div>
	<div class="eddy-form-wizard-footer-nomatch clearfix">
			<div class="more-school-area">
					 
			</div>
	</div><!-- end of #eddy-form-wizard-footer -->
</div><!-- end of ##eddy-form-wizard-body -->
}