<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="GS_URL" value="http://www.gradschools.com/" />
    <add key="GS_CampaignTrackId" value="351C687F-E7A2-42F8-A3AA-31B4D4C792F2" />
    <add key="NumberOfThreads" value="5" />
    <add key="SM_MaxDistanceInMiles" value="30" />
    <add key="IsBeta" value="false" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!-- 2U Configurations -->
    <add key="Enable2UTCPAChange" value="true" />
    <add key="Enable2ULeadShare" value="true" />
    <!-- SRA CACHE SETTINGS -->
    <add key="ME_SRADefinition_ExpirationMinutes" value="120" />
    <add key="ME_SRAeRPL_ExpirationMinutes" value="120" />
    <add key="ME_SRAStrategic_ExpirationMinutes" value="120" />
    <add key="ME_ZipCodeCoordinates_ExpirationMinutes" value="1500" />
    <add key="ME_Products_ExpirationMinutes" value="120" />
    <!-- RULE CACHE SETTINGS -->
    <add key="ME_RECaps_ExpirationMinutes" value="5" />
    <add key="ME_RERuleFactory_ExpirationMinutes" value="1500" />
    <add key="ME_REProgramLevelToEdLevelMapping_ExpirationMinutes" value="30" />
    <add key="ME_REProgramToEdLevelMapping_ExpirationMinutes" value="30" />
    <add key="ME_REClientRelationProductMapping_ExpirationMinutes" value="30" />
    <add key="ME_REClientCampusProductMapping_ExpirationMinutes" value="30" />
    <add key="ME_RECountryGeoData_ExpirationMinutes" value="30" />
    <add key="ME_REStateGeoData_ExpirationMinutes" value="30" />
    <add key="ME_RERuleDefinitionData_ExpirationMinutes" value="30" />
    <add key="ME_REKVCodeData_ExpirationMinutes" value="30" />
    <add key="ME_REProgramProductTemplateAssignment_ExpirationMinutes" value="30" />
    <add key="ME_RECallCenterHours_ExpirationMinutes" value="30" />
    <add key="ME_REWarmTransferInfo_ExpirationMinutes" value="1" />
    <add key="ME_RECampusCallCenterHours_ExpirationMinutes" value="30" />
    <add key="ME_CapReservationConfigurations" value="30" />
    <add key="ME_CapReservationLeadCounts" value="5" />
    <add key="ME_ClickProgramProducts_ExpirationMinutes" value="30" />
    <add key="ME_ProgramDisplayGroups_ExpirationMinutes" value="30" />
    <!-- CONTENT CACHE SETTINGS-->
    <add key="ME_ProgramContent_ExpirationMinutes" value="30" />
    <add key="ME_InstitutionContent_ExpirationMinutes" value="30" />
    <add key="ME_CampusContent_ExpirationMinutes" value="30" />
    <add key="ME_ProgramLevelContent_ExpirationMinutes" value="120" />
    <add key="ME_SubjectContent_ExpirationMinutes" value="120" />
    <add key="ME_CategoryContent_ExpirationMinutes" value="120" />
    <add key="ME_SpecialtyContent_ExpirationMinutes" value="120" />
    <add key="ME_CampusNumbersContent_ExpirationMinutes" value="120" />
    <add key="ME_CrossSellMapping_ExpirationMinutes" value="120" />
    <add key="ME_Features_ExpirationMinutes" value="120" />
    <add key="ME_MatchDatabase_ExpirationMinutes" value="5" />
    <add key="ME_InstitutionGroup_ExpirationMinutes" value="120" />
    <add key="ME_CampusZipCode_ExpirationMinutes" value="120" />
    <add key="ME_ProgramAddresses_ExpirationMinutes" value="30" />
    <add key="ME_ClientRelationshipSchedules_ExpirationMinutes" value="60" />
    <!-- LAZY LOADED CACHE ITEMS SETTINGS-->
    <add key="ME_REZipCodeGeoData_ExpirationMinutes" value="30" />
    <add key="ME_Campaign_ExpirationMinutes" value="30" />
    <add key="ME_CampaignRestrictedTemplates_ExpirationMinutes" value="5" />
    <!--<add key="MaxPacketSizeList" value="VW_Matching_ProgramProductWithApplicationSubject,VW_Matching_ProgramProductWithApplicationSubject_Prod,VW_Matching_ProgramContent,VW_Matching_ProgramContent_Prod,VWZipCodeCoordinate" />-->
    <add key="EntityFrameworkCommandTimeout" value="500" />
    <!-- PERFORMANCE LOGGING SETTINGS - ONLY CHANGE IF YOU KNOW THE VALUES -->
    <add key="PerformanceLoggingEnabled" value="1" />
    <add key="PerformanceLoggingDetail" value="1" />
    <add key="PerformanceLoggingLevel" value="20" />
    <!-- PerformanceLoggingPersistanceMedium - this setting is where to log to...acceptable values are:
            1 - Database
            2 - Debug Console Window
            3 - Trace Console Window
    -->
    <add key="PerformanceLoggingPersistanceMedium" value="2" />
    <add key="PerformanceLoggingThreshold" value="1" />
    <add key="PerformanceLoggingRequest" value="1" />
    <add key="PerformanceLoggingResponse" value="1" />
    <!-- MATCH RESPONSE LOGGING SETTINGS  VALUES ARE 0 or 1 -->
    <add key="MatchResponseLoggingDiscarded" value="1" />
    <add key="MatchResponseLoggingDisplayed" value="1" />
    <add key="MatchResponseLoggingDisplayedFactorScores" value="1" />
    <add key="MatchResponseLoggingLeadPingRequest" value="1" />
    <add key="MatchResponseLogging_GetApolloCampuses" value="1" />
    <add key="MatchResponseLogging_GetCampuses" value="1" />
    <add key="MatchResponseLogging_GetWizardMatches" value="1" />
    <add key="MatchResponseLoggingDisplayed" value="1" />
    <add key="MatchResponseLoggingDisplayedFactorScores" value="1" />
    <add key="MatchResponseLoggingAsJson" value="1" />
    <add key="MatchResponseLoggingRemovalReasons" value="1" />
    <!-- SOFTROCK TIME SETTINGS -->
    <add key="SoftrockReservationMorningHour" value="7" />
    <add key="SoftrockReservationEveningHour" value="22" />
    <!-- ALLOWED WARM TRANSFER SILVER DUPLICATE INSTITUTIONS -->
    <add key="WTSilverDupeInstitutions" value="5543,5544,5545,347,5546,5348" />
    <!-- CTU / AIU Fail Safe Activation Flag -->
    <add key="IsActiveCecoSafetyCheck" value="false" />
    <!-- Premier Level Tiers for Lead Scoring -->
    <add key="LeadScoringPremierTiers" value="1,2,3,4,5,6" />
    <add key="LeadScoringAddSmartMatchTiers" value="1,2,3" />
    <add key="ExternalMatchProviderServiceURL" value="http://localhost:54897/api/ExternalMatch/" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMatchingService" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_IMatchingService">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:22035/MatchingService.svc" binding="customBinding" bindingConfiguration="CustomBinding_IMatchingService" contract="MatchingEngineServiceReference.IMatchingService" name="CustomBinding_IMatchingService" />
      <endpoint address="http://localhost:22035/MatchingService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatchingService" contract="MatchingEngineServiceReference.IMatchingService" name="BasicHttpBinding_IMatchingService" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="Nexus" connectionString="Server=special-sql1;database=nexus;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="EddyLoggingEntities" connectionString="metadata=res://*/DataModel.DataMappings.csdl|res://*/DataModel.DataMappings.ssdl|res://*/DataModel.DataMappings.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=special-sql1;initial catalog=EddyLogging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MatchLoggingModelContainer" connectionString="metadata=res://*/DataModel.MatchLoggingModel.csdl|res://*/DataModel.MatchLoggingModel.ssdl|res://*/DataModel.MatchLoggingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=special-sql1;initial catalog=EddyTracking;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GSAllocationContextContainer" connectionString="metadata=res://*/Data.GSAllocationContext.csdl|res://*/Data.GSAllocationContext.ssdl|res://*/Data.GSAllocationContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=special-sql1;initial catalog=EddyTracking;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />    
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.1.0" newVersion="13.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
