<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>

  <packageSources>
    <clear />
    <add key="EducationDynamicsNuGetFeed"
         value="https://educationdynamics-git.pkgs.visualstudio.com/0463f636-c458-4488-987d-6723a95d4270/_packaging/59f62db5-0e2c-4b1d-8dc8-19ad086f5e5d/nuget/v3/index.json" />
    <add key="nuget.org"
         value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>