.eddy-form-wizard-container#eddy-form-wizard-managedchoice-container .eddy-form-wizard-body{
    background:none;
    width:auto;
    padding:0;
    margin:0;
    border:none;
    top:0;
    -moz-box-shadow:none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.eddy-form-wizard-container #mc-SM-Area {
    width:100%;
    margin-left:0;
}
.eddy-form-wizard-container .mc-SM-Display {
    position:relative;
}
.eddy-form-wizard-container .mc-SM-Display .sm-school li{
	display:inline-block;
	padding:5px;
	width:30%;
    vertical-align:top;
	*float:left;
	*width:30%;
}

.eddy-form-wizard-container .mc-SM-Display .sm-school .onlinecampusflag {
    position:relative;
    z-index:1;
}
.eddy-form-wizard-container .mc-SM-Display .sm-school .school-logo{
	width:122px;
	height:82px;
	background:#FFF;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	box-shadow: 2px 2px 10px 0px #888;
	-moz-box-shadow: 2px 2px 10px 0px #888;
	-webkit-box-shadow: 2px 2px 10px 0px #888;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
    position:relative;
    z-index:1;

}
	.eddy-form-wizard-container .mc-SM-Display .sm-school .school-logo img{
		margin:auto;
		width: 100%;
	}
	.eddy-form-wizard-container .mc-SM-Display .sm-school .school-info{
		display:none;
	}
    /*
        .eddy-form-wizard-container .mc-SM-Display .sm-school .school-info a {
            color: #555;
        }
	.eddy-form-wizard-container .mc-SM-Display .sm-school .school-info p{
		margin:5px;
	}
	.eddy-form-wizard-container .mc-SM-Display .sm-school .school-info .school-name{
		font-weight:bold;
		margin:0;		
	}
        */
	.eddy-form-wizard-container .mc-SM-Display .sm-school .change-program-link{
		margin-top:8px;
		display:block;
		font-size:11px;
		text-decoration:none;
        color:#3d77cb;
        text-align:center;
	}

   .eddy-form-wizard-container #msg_bottom_message{
       margin:2em 0;
   }

    .eddy-form-wizard-container .mc-SM-Display .mc-sm-program.sm-removed .cover-sm-school{
        height:100%;
        width:100%;
        padding-right:2px;
        background:#BBB;
        position:absolute;
        z-index:2;
        opacity:0.8;
        filter:alpha(opacity=80); /* For IE8 and earlier */
    }


#eddy-form-wizard-managedchoice-container .groundCampusFlagIcon,
#eddy-form-wizard-managedchoice-container .onlineCampusFlagIcon
{
    display:none;
}

.eddy-form-wizard-container #mc-US-Area {
    width:98%;
    margin-left:0;
    padding:0;
}

.eddy-form-wizard-container .field-holder.mc-US-Area .field-holder-group li{
	display:block;
	width:auto;
	margin:10px 0 20px;
    padding-bottom:20px;
    background: url("[SERVER]/images/dividerShadowSchoolList.png") no-repeat center bottom;
}
.eddy-form-wizard-container .field-holder.mc-US-Area .field-holder-group label{
	font-weight:bold;
}
.eddy-form-wizard-container .field-holder.mc-US-Area .field-holder-group .us-institution-info {
    width: 85%;
    display:inline-block;
}
.eddy-form-wizard-container .field-holder.mc-US-Area .us-institution-logo {
    float:left;
    margin-bottom:.6em;
}
.eddy-form-wizard-container .field-holder.mc-US-Area .field-holder-group .school-name {
    font-size: 14px;
    margin: 0px;
    vertical-align:top;
}
    .eddy-form-wizard-container .field-holder.mc-US-Area .field-holder-group .school-name a {
        color:#333;
    }
.eddy-form-wizard-container .field-holder.mc-US-Area .field-holder-group .select-program {
    clear:both;
}
.eddy-form-wizard-container .field-holder.mc-US-Area .field-holder-group .select-program *{
    font-size:.84em;
    margin:4px auto 2px;
}
.eddy-form-wizard-container .field-holder.mc-US-Area .field-holder-group .program-info,
.eddy-form-wizard-container .field-holder.mc-US-Area .field-holder-group .disclosure-info {
    display:inline-block;
}
.eddy-form-wizard-container .field-holder.mc-US-Area .field-holder-group .campus-location {
    font-size:12px;
    margin:10px 0 0 0;
}
.eddy-form-wizard-container .field-holder.mc-US-Area .field-holder-group select{
	width:100%;
    margin-bottom:5px;
}
.eddy-form-wizard-container .field-holder.mc-US-Area img {
    vertical-align:middle;
    margin:0 5px 0 0;
    padding:4px;
    border:1px solid #888;
    background:#FFF;
}
.eddy-form-wizard-container .mc-US-Area .onlineCampusFlagIcon,
.eddy-form-wizard-container .mc-US-Area .groundCampusFlagIcon {
    display:inline-block;
    vertical-align:middle;
}

.eddy-form-wizard-container .mc-US-Area .us-program-popup-link,
.eddy-form-wizard-container .mc-US-Area .us-disclosure-popup-link, 
.eddy-form-wizard-container .mc-US-Area .us-disclosure-popup-link-linkout {
      font-size: 12px;
      margin:0;
}
.eddy-form-wizard-container .mc-us-checkbox {
    display:inline-block;
    font-size:11px;
    margin-right:0.4em;
    vertical-align:top;
    width:8.5%;
}
    .eddy-form-wizard-container .mc-us-checkbox p{
        margin-bottom:2px;
    }
#workflow-managedchoice-container .CSdisclosure
{
    margin: 10px 0 0 0;
}
#workflow-managedchoice-container .CSdisclaimerReferenceNumber, #eddy-form-container .CSdisclosure p {
    font-size: 10px;
    line-height: 13px;
    margin: 0 5px 0 0;
    z-index: 9999;
}
#workflow-managedchoice-container .CSdisclaimerReferenceNumber
{
    vertical-align: super;
    font-weight:normal;
    margin-top:-1px ;
    background: #EFF6F9;
    border-radius: 0;
    bottom: auto;
    color:	#3B3B3B;
    display: inline;
    padding: 0;
    width: auto;
}

#workflow-managedchoice-container .cross-sell-express-consent
{
    padding: 20px 0 20px 50px;
    width: 85%;
}

#workflow-managedchoice-container .cross-sell-express-consent label 
{
    font-size: 10px;
    line-height: 13px;
    margin: 0 5px 0 0;
    text-align: left;
    display:inline-block;
    width:85%;
}

#workflow-managedchoice-container .cross-sell-express-consent label.express-consent-black
{
    color: #000;
}
#workflow-managedchoice-container .cross-sell-express-consent label.express-consent-error
{
    color: #B9121B;
}


.eddy-form-wizard-container .MCdisclosure {
    margin: 10px 0 0 0 !important;
}

.eddy-form-wizard-container .MCdisclaimerReferenceNumber, .eddy-form-wizard-container .MCdisclosure p {
    font-size: 10px !important;
    line-height: 13px !important;
    margin: 0 5px 10px 0 !important;
    z-index: 9999 !important;
}
.eddy-form-wizard-container .CSdisclaimerReferenceNumber
{
    vertical-align: super !important;
    font-weight:normal !important;
    margin-top:-1px !important;
    background: #EFF6F9 !important;
    border-radius: 0 !important;
    bottom: auto !important;
    color:	#3B3B3B !important;
    display: inline !important;
    padding: 0 !important;
    width: auto !important;
}

.eddy-form-wizard-container .managedchoice-express-consent
{
    padding: 0;
    width: 95%;
}
.eddy-form-wizard-container .managedchoice-express-consent input
{
    display:inline-block;
}

.eddy-form-wizard-container .managedchoice-express-consent label 
{
    font-size: 11px;
    line-height: 13px;
    margin: 0 5px 0 0;
    text-align: left;
    display:inline-block;
    width:90%;
	font-weight:normal;
    border:none;
}

.eddy-form-wizard-container .managedchoice-express-consent label.express-consent-black
{
    color: #000 !important;
}
.eddy-form-wizard-container .managedchoice-express-consent label.express-consent-error
{
    color: #B9121B !important;
}

.eddy-form-wizard-container #dvManagedChoiceError .error-summary
{
    padding: 10px 0 0 15px !important;
}


.eddy-form-wizard-container .mc-US-Display li.disable select {
    color:#BBB;
}

/* Online School Campus School Tabs*/
.eddy-form-wizard-container #OnlineCampusTabs {
    overflow: hidden;
    margin-top:0;
    position:relative;
    z-index:10;
    top:1px;
    margin-left:.1em;
}


.eddy-form-wizard-container #OnlineTab,
.eddy-form-wizard-container #CampusTab,
.eddy-form-wizard-container #OnlineCampusTabs.OnlineSingle #OnlineTab,
.eddy-form-wizard-container #OnlineCampusTabs.CampusSingle #CampusTab {
    overflow: hidden;
    cursor:pointer;
    border: 1px solid #DDD;
    position:relative;
    /*-moz-box-shadow: inset 0 4px 10px #DDD;
    -webkit-box-shadow: inset 0 4px 10px #DDD;
    box-shadow: inset 0 4px 10px #DDD;*/
    -moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-khtml-border-radius: 10px 10px 0 0;
	border-radius:10px 10px 0 0;
    display:inline-block;
    width:40%;
    border-bottom:none;
    background:#FFF;
    z-index:10;
    bottom:0px;
}

.eddy-form-wizard-container #OnlineCampusTabs.OnlineSingle #CampusTab{
    display:none;
}

.eddy-form-wizard-container #OnlineCampusTabs.OnlineSingle #OnlineTab{

}
.eddy-form-wizard-container #OnlineCampusTabs.CampusSingle #OnlineTab{
    display:none;
}
.eddy-form-wizard-container #OnlineCampusTabs.OnlineSingle #OnlineTab,
.eddy-form-wizard-container #OnlineCampusTabs.CampusSingle #CampusTab{
    width:70%;
}
.eddy-form-wizard-container #CampusTab{
    margin-left:-10px;
}

.eddy-form-wizard-container #OnlineTabInner,
.eddy-form-wizard-container #CampusTabInner,
.eddy-form-wizard-container #OnlineCampusTabs.OnlineSingle #OnlineTab #OnlineTabInner,
.eddy-form-wizard-container #OnlineCampusTabs.CampusSingle #CampusTab #CampusTabInner {    
    font: lighter 17px Impact, Charcoal, sans-serif;
    line-height:120%;
    padding:11px 3% 11px 20%; 
    color:#4f4d4d;
    text-shadow:none;
}
.eddy-form-wizard-container #CampusTabInner{
    padding-left:24%;
}


.eddy-form-wizard-container #OnlineTab.inactive,
.eddy-form-wizard-container #CampusTab.inactive {
        background: #eaeaea; /* Old browsers */
	    background: -moz-linear-gradient(top, #f09f1b 0%, #cb6310 100%); /* FF3.6+ */
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f09f1b), color-stop(100%,#cb6310)); /* Chrome,Safari4+ */
	    background: -webkit-linear-gradient(top, #f09f1b 0%,#cb6310 100%); /* Chrome10+,Safari5.1+ */
	    background: -o-linear-gradient(top, #f09f1b 0%,#cb6310 100%); /* Opera 11.10+ */
	    background: -ms-linear-gradient(top, #f09f1b 0%,#cb6310 100%); /* IE10+ */
	    background: linear-gradient(to bottom, #f09f1b 0%,#cb6310 100%); /* W3C */
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09f1b', endColorstr='#cb6310',GradientType=0 ); /* IE6-9 */
        /*-moz-box-shadow: inset 0 -2px 10px #FFF;
        -webkit-box-shadow: inset 0 -2px 10px #FFF;
        box-shadow: inset 0 -2px 10px #FFF;*/
        z-index:9;
    }
.eddy-form-wizard-container #OnlineCampusTabs.OnlineSingle #OnlineTab,
.eddy-form-wizard-container #OnlineCampusTabs.CampusSingle #CampusTab,
.eddy-form-wizard-container #OnlineTab.inactive{
    margin-left:8px;
}
.eddy-form-wizard-container #OnlineTab.inactive #OnlineTabInner,
.eddy-form-wizard-container #CampusTab.inactive #CampusTabInner{
    color:#ffeddb;
    text-shadow:1px 2px #555;
    font-size:14px;   
}
.eddy-form-wizard-container #CampusTab:not(.inactive){
    
}
.eddy-form-wizard-container #OnlineTab:not(.inactive){
    margin-left:8px;
   /* border-right:1px solid #FFF;*/
}
.eddy-form-wizard-container #OnlineTab:not(.inactive) #OnlineTabInner,
.eddy-form-wizard-container #OnlineCampusTabs.OnlineSingle #OnlineTab #OnlineTabInner {
    background: url("[SERVER]/images/tabsOnline.png") no-repeat 8px 5px;
    padding-left:23%;
    padding-top:11px;
    padding-bottom:11px;
}
.eddy-form-wizard-container #OnlineTab.inactive #OnlineTabInner{
    background: url("[SERVER]/images/tabsOnline_sm.png") no-repeat 8px 6px;
    padding-top:7px;
    padding-bottom:7px;
}
.eddy-form-wizard-container #OnlineTab:not(.inactive) #OnlineTabInner:after,
.eddy-form-wizard-container #OnlineCampusTabs.OnlineSingle #OnlineTab #OnlineTabInner:after{
    content:"Online Schools";
    
}
.eddy-form-wizard-container #OnlineTab.inactive #OnlineTabInner:after{
    content: "View Online Schools";
}




.eddy-form-wizard-container #CampusTabInner,
.eddy-form-wizard-container #OnlineCampusTabs.CampusSingle #CampusTab #CampusTabInner {
    background: url("[SERVER]/images/tabsCampus.png") no-repeat 5px 3px;
}

.eddy-form-wizard-container #CampusTab.inactive #CampusTabInner {
    background: url("[SERVER]/images/tabsCampus_sm.png") no-repeat 10px 5px;
    padding-left:18%;
    padding-top:7px;
    padding-bottom:7px;
}
.eddy-form-wizard-container #CampusTab:not(.inactive) #CampusTabInner:after,
.eddy-form-wizard-container #OnlineCampusTabs.CampusSingle #CampusTab #CampusTabInner:after{
    content:"Campus Schools";
    
}
.eddy-form-wizard-container #CampusTab.inactive #CampusTabInner:after{
    content: "View Campus Schools";
}

/* managed-choice-list */
.eddy-form-wizard-container #mc-us-choice-list {
    /*background: url("[SERVER]/images/tabsBg.gif") repeat-y;*/
    padding: 0.5em 0 0 .8em;
    margin:-3px 0 0 .1em;
    background:#FFF;
    border: 1px solid #DDD;
    -moz-box-shadow: inset 0 -5px 10px #DDD;
    -webkit-box-shadow: inset 0 -5px 10px #DDD;
    box-shadow: inset 0 -5px 10px #DDD;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius:10px;

}

/* Managed Choice Button */
.eddy-form-wizard-container .form-submit-button{
    clear:both;
	margin:1em auto 0;
	display:table;    
    padding:0;
    position:relative;
}
    .eddy-form-wizard-container .form-submit-button #managechoice-form-submit-button {
        background: url("[SERVER]/images/btnSubmitRequest2.gif") no-repeat 0 0;
        width:200px;
	    height:40px;
        cursor:pointer;
        padding:0;
    }

            
    .eddy-form-wizard-container .form-submit-button #managechoice-form-submit-button:hover {
        background-position:0 -40px;
    }
     .eddy-form-wizard-container .form-submit-button #managechoice-form-submit-button[smart-match="smart-match"] {
            background: url("[SERVER]/images/btnSubmitRequestForceMatch.gif") no-repeat 0 0; 
     }
     .eddy-form-wizard-container .form-submit-button #managechoice-form-submit-button[smart-match="smart-match"]:hover {
        background-position:0 -45px;
     }


.eddy-form-wizard-container .form-nothanks-button {
    text-decoration:underline;
    margin:.6em auto 1em;
    text-align:center;
    cursor:pointer;
}
.eddy-form-wizard-container #form-nothanks-button-label {

}


.eddy-form-wizard-container .financial-available {
    color:#22275A;
    margin:.5em 0 0 .3em;
    padding-bottom:1.3em;
    font:bold 15px "Verdana, Geneva, sans-serif";
}
.eddy-form-wizard-container .financial-available:after{
    content:"Financial Aid may be available to those who qualify";
}
.eddy-form-wizard-container .thank-you-msg {
    display:inline-block;
    color: #FE9504;
    font-size: 18px;
    font-weight: 700;
    line-height: 1em !important;
    margin: 0 0 5px;
}
.eddy-form-wizard-container .sm_smartmatch_header_message_1,
.eddy-form-wizard-container .sm_smartmatch_header_message_2,
.eddy-form-wizard-container .userselect_header_message {
    display:inline;
}


.eddy-form-wizard-container .sponsored_listings {
    text-align:right;
    font-size: 14px;
    font-style: italic;
    padding-bottom: 0.6em;
    padding-right: 1.5em;
    margin-top:0.5em;
}

.eddy-form-wizard-container .error-summary {
    margin: auto !important;
    padding-left: 30px !important;
    padding-top: 20px !important;
}

@media all and (max-width:768px){
    .responsive .eddy-form-wizard-container #OnlineTab,
    .responsive .eddy-form-wizard-container #CampusTab{
        width:45%;
    }

    .responsive .eddy-form-wizard-container .mc-SM-Display .sm-school li{
        padding:2px
    }
    .responsive .eddy-form-wizard-container .mc-SM-Display .sm-school .school-logo{
        width:auto;
        height:auto;
        padding:15px 2px;
    }
    .responsive .eddy-form-wizard-container .mc-SM-Display .sm-school .school-logo img{
        width:70%;
    }
}
@media all and (max-width: 640px){
    
    .responsive .eddy-form-wizard-container #msg_top_message,
    .responsive .eddy-form-wizard-container #mc-SM-Area,
    .responsive .eddy-form-wizard-container #msg_bottom_message{
        width:85%;
        margin-left:auto;
        margin-right:auto;
    }
    .responsive .eddy-form-wizard-container #mc-us-choice-list{
        padding-left:7%;
        padding-right:7%;
    }
    .responsive .eddy-form-wizard-container .field-holder.mc-US-Area .field-holder-group .us-institution-info{
        width:89%;
        margin-left:3%;
    }
    .responsive .eddy-form-wizard-container .field-holder.mc-US-Area .field-holder-group select{

        font-size:90%;
        width:92%;
        display:inline-block;
    }
    .responsive .eddy-form-wizard-container .mc-US-Area .us-program-popup-link{
        background:url("[SERVER]/images/info.png") no-repeat;
        font-size:0;
        padding:10px;
    }


    .responsive .eddy-form-wizard-container #OnlineTab,
    .responsive .eddy-form-wizard-container #CampusTab{
        width:45%;
    }
    .responsive .eddy-form-wizard-container #CampusTab:not(.inactive) #CampusTabInner, 
    .responsive .eddy-form-wizard-container #CampusTab.inactive #CampusTabInner{        
        padding-left:21%;
    }
    .responsive .eddy-form-wizard-container #OnlineTab:not(.inactive) #OnlineTabInner,
    .responsive .eddy-form-wizard-container #OnlineTab.inactive #OnlineTabInner{
            padding-left:18%;

    }
    .responsive .eddy-form-wizard-container .mc-us-checkbox{
        width:4%;
    }
    
    .responsive .eddy-form-wizard-container .mc-SM-Display .sm-school .school-logo img{
        width:auto;
    }
    .responsive .eddy-form-wizard-container .groundcampusflag .mc-us-checkbox p,
    .responsive .eddy-form-wizard-container .groundcampusflag .mc-us-checkbox span{
        display:none;
    }
    .responsive .eddy-form-wizard-container .field-holder.mc-US-Area .field-holder-group .select-program{
        display:none;
    }
    .responsive .eddy-form-wizard-container .managedchoice-express-consent label {
        width:85%;
    }
    
    /* Continue Mobile Button */
    #screen-button div.table-cell {
        display: table-cell;
        vertical-align: middle;
    }

    #screen-button span.title, #screen-button span.subtitle {
        display: block;
        margin-top: 0;
        margin-bottom: 5px !important;
        padding: 0 !important;
        font-weight: 700;
    }

    #screen-button span.subtitle{
        font-size: 14px;
        margin-bottom: 0 !important;
    }

    #screen-button span.title {
        font-size: 22px !important;
    }

    #screen-button .table-cell table {
        display: inline-block;
        margin-bottom: auto !important;
        width: auto !important;
    }

    #screen-button .table-cell table tbody {
        border-top: none;   
    }
     #screen-button table tr td {
        border: none;
        padding: 4px 4px;
        text-align: center !important;
        line-height: 100% !important;
    }
    /* End Continue Mobile Button */
}
@media all and (max-width: 480px){
    .responsive .eddy-form-wizard-container #msg_top_message,
    .responsive .eddy-form-wizard-container #mc-SM-Area,
    .responsive .eddy-form-wizard-container #msg_bottom_message{
        width:95%;
    }
    .responsive .eddy-form-wizard-container #mc-us-choice-list{
        padding-left:2%;
        padding-right:2%;
    }
    .responsive .eddy-form-wizard-container .field-holder.mc-US-Area .field-holder-group select{
        width:90%;
    }
    .responsive .eddy-form-wizard-container .field-holder.mc-US-Area .field-holder-group .us-institution-info{
       width:88%;
       margin-left:4%;
    }
    .responsive .eddy-form-wizard-container #OnlineCampusTabs{
        background:none;
        margin:0;
    }
    
    .responsive .eddy-form-wizard-container #CampusTab:not(.inactive){
        width:47%;
    }
    .responsive .eddy-form-wizard-container #OnlineTab.inactive{
        width:48%;
        top:-4px;
    }
    .responsive .eddy-form-wizard-container #OnlineCmapusTabs:not(.OnlineSingle) #OnlineTab.inactive{
        top:0;
    }
    .responsive .eddy-form-wizard-container #OnlineTab:not(.inactive){
        width:44%;
    }
    .responsive .eddy-form-wizard-container #CampusTab.inactive{
        width:53%;
    }
    .responsive .eddy-form-wizard-container .mc-SM-Display .sm-school li{
        width:30%;
    }
    .responsive .eddy-form-wizard-container .mc-SM-Display .sm-school .school-logo img{
        width:70%;
    }
    .responsive .eddy-form-wizard-container #CampusTab:not(.inactive) #CampusTabInner{
        background:url("[SERVER]/images/tabsCampus_sm.png") no-repeat 5px 8px;
        padding-right:0;
        font:bold 14px Arial,Helvetica,sans-serif;
    }
    .responsive .eddy-form-wizard-container #OnlineTab:not(.inactive) #OnlineTabInner{
        background:url("[SERVER]/images/tabsOnline_sm.png") no-repeat 5px 8px;
        padding-right:0;
        font:bold 14px Arial,Helvetica,sans-serif;
    }
   
    .responsive .eddy-form-wizard-container #OnlineTab.inactive #OnlineTabInner, 
    .responsive .eddy-form-wizard-container #CampusTab.inactive #CampusTabInner{
        font:bold 12px Arial,Helvetica,sans-serif;
        background-position:8px 3px;
    }
    
}

@media all and (max-width:340px){
    .responsive .eddy-form-wizard-container #msg_top_message,
    .responsive .eddy-form-wizard-container #mc-SM-Area,
    .responsive .eddy-form-wizard-container #msg_bottom_message{
        width:99%;
    }
    .responsive .eddy-form-wizard-container #mc-us-choice-list{
        padding-left:0.5%;
        padding-right:0.5%;
    }
    .responsive .eddy-form-wizard-container .mc-SM-Display .sm-school li{
        width:45%;
    }
    .responsive .eddy-form-wizard-container .mc-SM-Display .sm-school .school-logo img{
        width:90%;
    }
    .responsive .eddy-form-wizard-container #OnlineCampusTabs{
       top:4px;
   }
    .responsive .eddy-form-wizard-container #CampusTab:not(.inactive){
        width:47%;
    }
    .responsive .eddy-form-wizard-container #OnlineTab.inactive{
        width:50%;
    }
    .responsive .eddy-form-wizard-container #OnlineTab:not(.inactive){
        width:43%;
    }
    .responsive .eddy-form-wizard-container #CampusTab.inactive{
        width:54%;
    }
    .responsive .eddy-form-wizard-container #CampusTab:not(.inactive) #CampusTabInner,
    .responsive .eddy-form-wizard-container #CampusTab.inactive #CampusTabInner{
        background:url("[SERVER]/images/tabsCampus_xs.png") no-repeat 8px 5px;
        padding-left:20%;
    }
    .responsive .eddy-form-wizard-container #CampusTab.inactive #CampusTabInner{
        padding-left:18%;
    }
    .responsive .eddy-form-wizard-container #CampusTab:not(.inactive) #CampusTabInner{
        background-position:3px 10px;
    }
    .responsive .eddy-form-wizard-container #OnlineTab:not(.inactive) #OnlineTabInner,
    .responsive .eddy-form-wizard-container #OnlineTab.inactive #OnlineTabInner {
        background: url("[SERVER]/images/tabsOnline_xs.png") no-repeat 3px 8px;
    }
    .responsive .eddy-form-wizard-container #OnlineTab.inactive #OnlineTabInner{
        background-position:3px 5px;
    }
    .responsive .eddy-form-wizard-container #OnlineTab:not(.inactive) #OnlineTabInner, 
    .responsive .eddy-form-wizard-container #CampusTab:not(.inactive) #CampusTabInner{
        font-size:12px;
    }
    .responsive .eddy-form-wizard-container #OnlineTab.inactive #OnlineTabInner, 
    .responsive .eddy-form-wizard-container #CampusTab.inactive #CampusTabInner{        
        font-weight:normal;
        font-size:11px;
    }
}