<?xml version="1.0" encoding="utf-8"?>
<configFile output="Web.config">
  <configuration>
    <configSections>
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="EDDY.IS.Validation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
    </configSections>
    <connectionStrings>
      <add name="FEEntitiesContainer" connectionString="metadata=res://*/DataModel.FEModel.csdl|res://*/DataModel.FEModel.ssdl|res://*/DataModel.FEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=@@NEXUSDBSERVER;initial catalog=Nexus;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="Nexus_Validation_Entities" connectionString="metadata=res://*/DataModel.VEModel.csdl|res://*/DataModel.VEModel.ssdl|res://*/DataModel.VEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=@@NEXUSDBSERVER;initial catalog=Nexus;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="Nexus_Lead_Entities" connectionString="metadata=res://*/DataModel.LEModel.csdl|res://*/DataModel.LEModel.ssdl|res://*/DataModel.LEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=@@NEXUSDBSERVER;initial catalog=Nexus;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="EddyLoggingEntities" connectionString="metadata=res://*/DataModel.DataMappings.csdl|res://*/DataModel.DataMappings.ssdl|res://*/DataModel.DataMappings.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=@@NEXUSDBSERVER;initial catalog=EddyLogging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />      
    </connectionStrings>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="6.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-13.0.1.0" newVersion="13.0.1.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
          <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
          <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
          <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
    <appSettings>
      <add key="MultipleSaveProtection" value="True" />
      <add key="MultipleSaveProtectionMinutes" value="30" />
      <add key="WTTTestInstitutions" value=""/>
      <add key="WTTPercentRoute" value=""/>
      <add key="BundlingMinification" value="true" />
      <add key="ProgramTemplateDefaultRenderingStrategy" value="ORIGINAL" />
      <add key="LeadPingJavascript" value="@@WEBSERVICEURL_LEADPING/v3/client/javascript/leadping.js" />
      <add key="FormsEngineSessionMinutes" value="20" />
      <add key="CacheTemplatesTimeMinutes" value="30" />
      <add key="CacheTemplateMappingsTimeMinutes" value="120" />
      <add key="EmailValidationLevel" value="3" />
      <add key="CacheTemplatesEnabled" value="True" />
      <add key="WebLeadsServerSideValidationEnabled" value="True" />
      <add key="SaveProspect" value="True" />
      <add key="webpages:Version" value="2.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="DebugLinqStatements" value="true"/>
      <add key="UserSessionCacheExpirationMinutes" value="10"/>
      <add key="EddyLogoImageSizeSmall" value="120x40.png" />
      <add key="EddyLogoImageSizeMedium" value="150x50.gif" />
      <add key="EddyLogoImageSizeLarge" value="240x80.gif" />
      <add key="EddyLogoImagePathDomain" value="@@LOGO_URL" />
      <!-- InstitutionId, Size/type -->
      <add key="EddyLogoImagePathInstitution" value="/{0}/Logo_{1}" />
      <!-- InstitutionId, CampusId, Size/type -->
      <add key="EddyLogoImagePathCampus" value="/{0}/{1}/Logo_{2}" />
      <add key="MaxCrossSellUserSelections" value="3"/>
      <add key="MaxCrossSellProgramsToDisplay" value="99"/>
      <add key="MaxManagedChoiceSMProgramsToDisplay" value="9"/>
      <add key="MaxManagedChoiceUSSchoolsToDisplay" value="10"/>
      <add key="PerformanceLoggingEnabled" value="1" />
      <add key="PerformanceLoggingLevel" value="10" />
      <add key="PerformanceLoggingPersistanceMedium" value="1"/>
      <add key="ExpressConsentOn" value="true"/>
      <add key="DefaultWizardTemplateId" value="44"/>
      <add key="GetTemplateControlData_Cache_MinuteTimeOut" value="10"/>
      <add key="CacheResourceMetaDatasTimeMinutes" value="1440" />
      <add key="CacheEMSTCPAMessagesTimeMinutes" value="440" />
      <add key="CacheCampaignApplicationIdsTimeMinutes" value="120" />
      <add key="ProspectStatusIdWizardMatched" value="524"/>
      <add key="ProspectStatusIdWizardLimbo" value="523"/>
      <add key="ProspectStatusIdJobsContactMe" value="530"/>
      <add key="PerformanceLoggingRequest" value="1"/>
      <add key="EntityFrameworkCommandTimeout" value="300" />
      <add key="Five9SM2List" value="@@Five9SM2List"/>
      <add key="Five9SM1SelectList" value="@@Five9SM1SelectList"/>
      <add key="Five9SM1PremierList" value="@@Five9SM1PremierList"/>
      <add key="Five9SM1GoldList" value="@@Five9SM1GoldList"/>
      <add key="Five9WTTList" value="@@Five9WTTList"/>
      <add key="InternationalWizardTemplatePaidId" value="394" />
      <add key="InternationalWizardTemplateSEOId" value="421" />
    </appSettings>
    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior name="">
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
      <bindings>
        <basicHttpBinding>
          <binding name="basicHttpEndPoint"
           closeTimeout="00:01:00"
           openTimeout="00:02:00"
           receiveTimeout="00:02:00"
           sendTimeout="00:01:00" allowCookies="false"
           bypassProxyOnLocal="false"
           hostNameComparisonMode="StrongWildcard"
           maxBufferSize="1048576"
           maxBufferPoolSize="524288"
           maxReceivedMessageSize="1048576"
           messageEncoding="Text"
           textEncoding="utf-8"
           transferMode="Buffered"
           useDefaultWebProxy="true">
            <readerQuotas maxDepth="32"
              maxStringContentLength="1048576"
              maxArrayLength="16384"
              maxBytesPerRead="1048576"
              maxNameTableCharCount="16384" />
            <security mode="None">
            </security>
          </binding>
          <binding name="Targus.ClientSoap" />
          <binding name="BasicHttpBinding_IPixelsService" />
          <binding name="BasicHttpBinding_IProspectService" />
          <binding name="BasicHttpBinding_ILeadScoringService" />
          <binding name="BasicHttpBinding_IService" />
          <binding name="BasicHttpBinding_IService1" />
          <binding name="BasicHttpBinding_IValidationService" />
        </basicHttpBinding>
        <customBinding>
          <binding name="CustomBinding_IMatchingService" openTimeout="00:02:00" receiveTimeout="00:02:00" >
            <binaryMessageEncoding/>
            <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
          </binding>
        </customBinding>
        <netNamedPipeBinding>
          <binding name="netnamedPipeEndPoint" />
        </netNamedPipeBinding>
        <netTcpBinding>
          <binding name="netTcpBinding_IMatchingService" closeTimeout="00:10:00"
           openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
           transferMode="Buffered" hostNameComparisonMode="StrongWildcard"
           maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
             maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
            <security mode="None">
              <transport clientCredentialType="None" />
              <message clientCredentialType="UserName" algorithmSuite="Default" />
            </security>
          </binding>
          <binding name="netTcpEndPoint">
            <security mode="None" />
          </binding>
          <binding name="NetTcpBinding_IPixelsService" />
          <binding name="NetTcpBinding_ICampaign">
            <security mode="None" />
          </binding>
        </netTcpBinding>
        <wsDualHttpBinding>
          <binding name="wsDualHttpEndpoint" />
        </wsDualHttpBinding>
      </bindings>

      <client>
        <endpoint address="@@WEBSERVICE_MATCHINGENGINE"
          binding="customBinding" bindingConfiguration="CustomBinding_IMatchingService"
          contract="MatchingEngine.IMatchingService" name="BasicHttpBinding_IMatchingService" />

        <endpoint address="@@BETA_MATCHINGENGINE_WEBSERVICE"
          binding="customBinding" bindingConfiguration="CustomBinding_IMatchingService"
          contract="MatchingEngine.IMatchingService" name="BasicHttpBinding_IMatchingService_Beta" />

        <endpoint address="@@WEBSERVICE_PROSPECT"
      binding="basicHttpBinding" bindingConfiguration="basicHttpEndPoint"
      contract="ProspectService.IProspectService" name="BasicHttpBinding_IProspectService" />

        <endpoint address="@@WEBSERVICE_PIXEL"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
          contract="PixelsService.IService" name="BasicHttpBinding_IService1" />

        <endpoint address="http://webapp.targusinfo.com/ws-getdata/query.asmx"
          binding="basicHttpBinding" bindingConfiguration="Targus.ClientSoap"
          contract="TargusInfo.ClientSoap" name="ClientSoap" />

        <endpoint address="@@WEBSERVICEURL_LEADPING/v3/Service.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
          contract="LeadPingService.IService" name="BasicHttpBinding_IService" />

        <endpoint address="@@LEADSCORING"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILeadScoringService"
          contract="LeadScoringService.ILeadScoringService" name="BasicHttpBinding_ILeadScoringService" />

        <endpoint address="@@WEBSERVICE_ABEAService"
                  binding="basicHttpBinding" bindingConfiguration="basicHttpEndPoint"
                  contract="Five9Service.IService"  name="BasicHttpBinding_Five9Service" />
        <endpoint address="@@WEBSERVICE_VALIDATIONSERVICE" 
                  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IValidationService" 
                  contract="ValidationService.IValidationService" name="BasicHttpBinding_IValidationService" />
      </client>
    </system.serviceModel>
    <system.web>
      <httpRuntime targetFramework="4.5" maxQueryStringLength="32768" />
      <compilation debug="false" targetFramework="4.5" />
      <customErrors mode="Off" />
      <!-- THE FOLLOWING LINE MUST BE COMMENTED OUT -->
      <!--<sessionState mode="InProc" timeout="60"  cookieless="false"></sessionState>-->
      <pages>
        <namespaces>
          <add namespace="System.Web.Helpers" />
          <add namespace="System.Web.Mvc" />
          <add namespace="System.Web.Mvc.Ajax" />
          <add namespace="System.Web.Mvc.Html" />
          <add namespace="System.Web.Routing" />
          <add namespace="System.Web.WebPages" />
        </namespaces>
      </pages>
    </system.web>
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="GoogleDFP" stopProcessing="true">
            <match url="^Templates/Common/js/External/GoogleDFP.js$" />
            <action type="Redirect" url="@@WEBSERVICEURL_ADSERVER"/>
          </rule>
        </rules>
      </rewrite>
      <validation validateIntegratedModeConfiguration="false" />
      <handlers>
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <remove name="OPTIONSVerbHandler" />
        <remove name="TRACEVerbHandler" />
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      </handlers>
      <modules runAllManagedModulesForAllRequests="true" >
        <remove name="UrlRoutingModule"/>
      </modules>
      <security>
        <requestFiltering>
          <requestLimits maxUrl="32768" maxQueryString="32768"/>
        </requestFiltering>
      </security>
    </system.webServer>
    <entityFramework>
      <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
      <providers>
        <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
    </entityFramework>
    <applicationSettings>
      <EDDY.IS.Validation.Properties.Settings>
        <setting name="CacheAreaCodeTimeMinutes" serializeAs="String">
          <value>1440</value>
        </setting>
        <setting name="EmailVerificationLogEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="EmailVerifyLicenseKey" serializeAs="String">
          <value>YBw+WfUBqIn3iSE6t+hLdrdN0uKYBgjmKruVePA0N+7dMHv3E3xQ3Huyzr1omKivzZqxag==</value>
        </setting>
        <setting name="CacheEmailVerificationResultTimeMinutes" serializeAs="String">
          <value>30</value>
        </setting>
        <setting name="EmailVerifyDNSServers" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>@@DNSSERVERIP1</string>
              <string>@@DNSSERVERIP2</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="EmailVerifyDNSTimeout" serializeAs="String">
          <value>1000</value>
        </setting>
        <setting name="CacheDomainWhiteListDays" serializeAs="String">
          <value>90</value>
        </setting>
        <setting name="TargusServiceID" serializeAs="String">
          <value>9212800539</value>
        </setting>
        <setting name="TargusUsername" serializeAs="String">
          <value>EdDyne</value>
        </setting>
        <setting name="TargusPassword" serializeAs="String">
          <value>Kx47aP5Q</value>
        </setting>
        <setting name="TargusPhoneCacheMinutes" serializeAs="String">
          <value>60</value>
        </setting>
        <setting name="CacheZipCodeTimeMinutes" serializeAs="String">
          <value>120</value>
        </setting>
      </EDDY.IS.Validation.Properties.Settings>
    </applicationSettings>
  </configuration>

  <environments>
    <environment name="PRODUCTION">
      <replace token="@@NEXUSDBSERVER" value="isdb.eddyprod.local" />
      <replace token="@@WEBSERVICEURL_LEADPING" value="https://leadping.educationdynamics.com" />
      <replace token="@@WEBSERVICE_MATCHINGENGINE" value="http://localhost/EDDY.IS.MatchingEngine.Service/MatchingService.svc" />
      <replace token="@@BETA_MATCHINGENGINE_WEBSERVICE" value="http://192.168.220.50/EDDY.IS.MatchingEngine.Service.Beta/MatchingService.svc" />
      <replace token="@@WEBSERVICE_PROSPECT" value="http://localhost/EDDY.ProspectService.Service/ProspectService.svc/soap" />
      <replace token="@@WEBSERVICE_PIXEL" value="http://localhost/EDDY.IS.Pixel.Service/V2/Soap/Service.svc" />
      <replace token="@@LEADSCORING" value="http://localhost/EDDY.IS.LeadScoring.Service/LeadScoringService.svc" />
      <replace token="@@WEBSERVICE_VALIDATIONSERVICE" value="http://localhost/EDDY.IS.ValidationEngine.Service/ValidationService.svc" />
      <replace token="@@DNSSERVERIP1" value="192.168.205.45" />
      <replace token="@@DNSSERVERIP2" value="192.168.205.46" />
      <replace token="@@LOGO_URL" value="https://logo.educationdynamics.com" />
      <replace token="@@Five9SM2List" value="SM2" />
      <replace token="@@Five9SM1SelectList" value="Select" />
      <replace token="@@Five9SM1PremierList" value="Premier" />
      <replace token="@@Five9SM1GoldList" value="Gold" />
      <replace token="@@Five9WTTList" value="WTT" />
      <replace token="@@WEBSERVICE_ABEAService" value="http://localhost/EDDY.IS.ABEA.Service/Service.svc" />
      <replace token="@@WEBSERVICEURL_ADSERVER" value="https://agrservice.educationdynamics.com/Scripts/Bundles/EddyAdAggregator" />      
    </environment>
    <environment name="ProdSupport">
      <replace token="@@NEXUSDBSERVER" value="prodsuppisdb.eddycorp.local" />
      <replace token="@@WEBSERVICEURL_LEADPING" value="http://leadping.prod.educationdynamics.local" />
      <replace token="@@WEBSERVICE_MATCHINGENGINE" value="http://localhost/EDDY.IS.MatchingEngine.Service/MatchingService.svc" />
      <replace token="@@BETA_MATCHINGENGINE_WEBSERVICE" value="http://localhost/EDDY.IS.MatchingEngine.Service.Beta/MatchingService.svc" />
      <replace token="@@WEBSERVICE_PROSPECT" value="http://localhost/EDDY.ProspectService.Service/ProspectService.svc/soap" />
      <replace token="@@WEBSERVICE_PIXEL" value="http://localhost/EDDY.IS.Pixel.Service/V2/Soap/Service.svc" />
      <replace token="@@LEADSCORING" value="http://localhost/EDDY.IS.LeadScoring.Service/LeadScoringService.svc" />
      <replace token="@@WEBSERVICE_VALIDATIONSERVICE" value="http://localhost/EDDY.IS.ValidationEngine.Service/ValidationService.svc" />
      <replace token="@@DNSSERVERIP1" value="192.168.26.22" />
      <replace token="@@DNSSERVERIP2" value="192.168.26.23" />
      <replace token="@@LOGO_URL" value="http://logo.prod.educationdynamics.local" />
      <replace token="@@Five9SM2List" value="DEV TEST" />
      <replace token="@@Five9SM1SelectList" value="DEV TEST" />
      <replace token="@@Five9SM1PremierList" value="DEV TEST" />
      <replace token="@@Five9SM1GoldList" value="DEV TEST" />
      <replace token="@@Five9WTTList" value="DEV TEST" />
      <replace token="@@WEBSERVICE_ABEAService" value="http://localhost/EDDY.IS.ABEA.Service/Service.svc" />
      <replace token="@@WEBSERVICEURL_ADSERVER" value="http://agrservice.prod.educationdynamics.local/Scripts/Bundles/EddyAdAggregator" />
    </environment>
    <environment name="Performance">
      <replace token="@@NEXUSDBSERVER" value="perfisdb.eddycorp.local" />
      <replace token="@@WEBSERVICEURL_LEADPING" value="http://leadping.perf.educationdynamics.local" />
      <replace token="@@WEBSERVICE_MATCHINGENGINE" value="http://localhost/EDDY.IS.MatchingEngine.Service/MatchingService.svc" />
      <replace token="@@BETA_MATCHINGENGINE_WEBSERVICE" value="http://localhost/EDDY.IS.MatchingEngine.Service.Beta/MatchingService.svc" />
      <replace token="@@WEBSERVICE_PROSPECT" value="http://localhost/EDDY.ProspectService.Service/ProspectService.svc/soap" />
      <replace token="@@WEBSERVICE_PIXEL" value="http://localhost/EDDY.IS.Pixel.Service/V2/Soap/Service.svc" />
      <replace token="@@LEADSCORING" value="http://localhost/EDDY.IS.LeadScoring.Service/LeadScoringService.svc" />
      <replace token="@@WEBSERVICE_VALIDATIONSERVICE" value="http://localhost/EDDY.IS.ValidationEngine.Service/ValidationService.svc" />
      <replace token="@@DNSSERVERIP1" value="192.168.26.22" />
      <replace token="@@DNSSERVERIP2" value="192.168.26.23" />
      <replace token="@@LOGO_URL" value="http://logo.perf.educationdynamics.local" />
      <replace token="@@Five9SM2List" value="DEV TEST" />
      <replace token="@@Five9SM1SelectList" value="DEV TEST" />
      <replace token="@@Five9SM1PremierList" value="DEV TEST" />
      <replace token="@@Five9SM1GoldList" value="DEV TEST" />
      <replace token="@@Five9WTTList" value="DEV TEST" />
      <replace token="@@WEBSERVICE_ABEAService" value="http://localhost/EDDY.IS.ABEA.Service/Service.svc" />
      <replace token="@@WEBSERVICEURL_ADSERVER" value="http://agrservice.perf.educationdynamics.local/Scripts/Bundles/EddyAdAggregator" />
    </environment>
    <environment name="QA">
      <replace token="@@NEXUSDBSERVER" value="qaisdb.eddycorp.local" />
      <replace token="@@WEBSERVICEURL_LEADPING" value="http://leadping.qa.educationdynamics.local" />
      <replace token="@@WEBSERVICE_MATCHINGENGINE" value="http://nexqa/EDDY.IS.MatchingEngine.Service/MatchingService.svc" />
      <replace token="@@BETA_MATCHINGENGINE_WEBSERVICE" value="http://nexqa/EDDY.IS.MatchingEngine.Service.Beta/MatchingService.svc" />
      <replace token="@@WEBSERVICE_PROSPECT" value="http://nexqa/EDDY.ProspectService.Service/ProspectService.svc/soap" />
      <replace token="@@WEBSERVICE_PIXEL" value="http://nexqa/EDDY.IS.Pixel.Service/V2/Soap/Service.svc" />
      <replace token="@@LEADSCORING" value="http://nexqa/EDDY.IS.LeadScoring.Service/LeadScoringService.svc" />
      <replace token="@@WEBSERVICE_VALIDATIONSERVICE" value="http://localhost/EDDY.IS.ValidationEngine.Service/ValidationService.svc" />
      <replace token="@@DNSSERVERIP1" value="192.168.26.22" />
      <replace token="@@DNSSERVERIP2" value="192.168.26.23" />
      <replace token="@@LOGO_URL" value="http://logo.qa.educationdynamics.local" />
      <replace token="@@Five9SM2List" value="DEV TEST" />
      <replace token="@@Five9SM1SelectList" value="DEV TEST" />
      <replace token="@@Five9SM1PremierList" value="DEV TEST" />
      <replace token="@@Five9SM1GoldList" value="DEV TEST" />
      <replace token="@@Five9WTTList" value="DEV TEST" />
      <replace token="@@WEBSERVICE_ABEAService" value="http://localhost/EDDY.IS.ABEA.Service/Service.svc" />
      <replace token="@@WEBSERVICEURL_ADSERVER" value="http://agrservice.qa.educationdynamics.local/Scripts/Bundles/EddyAdAggregator" />
    </environment>
    <environment name="QAStage">
      <replace token="@@NEXUSDBSERVER" value="qastageisdb.eddycorp.local" />
      <replace token="@@WEBSERVICEURL_LEADPING" value="http://leadping.qastage.educationdynamics.local" />
      <replace token="@@WEBSERVICE_MATCHINGENGINE" value="http://nexqastagews01/EDDY.IS.MatchingEngine.Service/MatchingService.svc" />
      <replace token="@@BETA_MATCHINGENGINE_WEBSERVICE" value="http://nexqastagews01/EDDY.IS.MatchingEngine.Service.Beta/MatchingService.svc" />
      <replace token="@@WEBSERVICE_PROSPECT" value="http://nexqastagews01/EDDY.ProspectService.Service/ProspectService.svc/soap" />
      <replace token="@@WEBSERVICE_PIXEL" value="http://nexqastagews01/EDDY.IS.Pixel.Service/V2/Soap/Service.svc" />
      <replace token="@@LEADSCORING" value="http://nexqastagews01/EDDY.IS.LeadScoring.Service/LeadScoringService.svc" />
      <replace token="@@WEBSERVICE_VALIDATIONSERVICE" value="http://localhost/EDDY.IS.ValidationEngine.Service/ValidationService.svc" />
      <replace token="@@DNSSERVERIP1" value="192.168.26.22" />
      <replace token="@@DNSSERVERIP2" value="192.168.26.23" />
      <replace token="@@LOGO_URL" value="http://logo.qastage.educationdynamics.local" />
      <replace token="@@Five9SM2List" value="DEV TEST" />
      <replace token="@@Five9SM1SelectList" value="DEV TEST" />
      <replace token="@@Five9SM1PremierList" value="DEV TEST" />
      <replace token="@@Five9SM1GoldList" value="DEV TEST" />
      <replace token="@@Five9WTTList" value="DEV TEST" />
      <replace token="@@WEBSERVICE_ABEAService" value="http://localhost/EDDY.IS.ABEA.Service/Service.svc" />
      <replace token="@@WEBSERVICEURL_ADSERVER" value="http://agrservice.qastage.educationdynamics.local/Scripts/Bundles/EddyAdAggregator" />
    </environment>
    <environment name="Deploy">
      <replace token="@@NEXUSDBSERVER" value="deployisdb.eddycorp.local" />
      <replace token="@@WEBSERVICEURL_LEADPING" value="http://leadping.deploy.educationdynamics.local" />
      <replace token="@@WEBSERVICE_MATCHINGENGINE" value="http://localhost/EDDY.IS.MatchingEngine.Service/MatchingService.svc" />
      <replace token="@@BETA_MATCHINGENGINE_WEBSERVICE" value="http://localhost/EDDY.IS.MatchingEngine.Service.Beta/MatchingService.svc" />
      <replace token="@@WEBSERVICE_PROSPECT" value="http://localhost/EDDY.ProspectService.Service/ProspectService.svc/soap" />
      <replace token="@@WEBSERVICE_PIXEL" value="http://localhost/EDDY.IS.Pixel.Service/V2/Soap/Service.svc" />
      <replace token="@@LEADSCORING" value="http://localhost/EDDY.IS.LeadScoring.Service/LeadScoringService.svc" />
      <replace token="@@WEBSERVICE_VALIDATIONSERVICE" value="http://localhost/EDDY.IS.ValidationEngine.Service/ValidationService.svc" />
      <replace token="@@DNSSERVERIP1" value="192.168.26.22" />
      <replace token="@@DNSSERVERIP2" value="192.168.26.23" />
      <replace token="@@LOGO_URL" value="http://logo.deploy.educationdynamics.local" />
      <replace token="@@Five9SM2List" value="DEV TEST" />
      <replace token="@@Five9SM1SelectList" value="DEV TEST" />
      <replace token="@@Five9SM1PremierList" value="DEV TEST" />
      <replace token="@@Five9SM1GoldList" value="DEV TEST" />
      <replace token="@@Five9WTTList" value="DEV TEST" />
      <replace token="@@WEBSERVICE_ABEAService" value="http://localhost/EDDY.IS.ABEA.Service/Service.svc" />
      <replace token="@@WEBSERVICEURL_ADSERVER" value="http://agrservice.deploy.educationdynamics.local/Scripts/Bundles/EddyAdAggregator" />
    </environment>
    <environment name="UAT">
      <replace token="@@NEXUSDBSERVER" value="uatisdb.eddycorp.local" />
      <replace token="@@WEBSERVICEURL_LEADPING" value="http://leadping.uat.educationdynamics.local" />
      <replace token="@@WEBSERVICE_MATCHINGENGINE" value="http://localhost/EDDY.IS.MatchingEngine.Service/MatchingService.svc" />
      <replace token="@@BETA_MATCHINGENGINE_WEBSERVICE" value="http://localhost/EDDY.IS.MatchingEngine.Service.Beta/MatchingService.svc" />
      <replace token="@@WEBSERVICE_PROSPECT" value="http://localhost/EDDY.ProspectService.Service/ProspectService.svc/soap" />
      <replace token="@@WEBSERVICE_PIXEL" value="http://localhost/EDDY.IS.Pixel.Service/V2/Soap/Service.svc" />
      <replace token="@@LEADSCORING" value="http://localhost/EDDY.IS.LeadScoring.Service/LeadScoringService.svc" />
      <replace token="@@WEBSERVICE_VALIDATIONSERVICE" value="http://localhost/EDDY.IS.ValidationEngine.Service/ValidationService.svc" />
      <replace token="@@DNSSERVERIP1" value="192.168.26.22" />
      <replace token="@@DNSSERVERIP2" value="192.168.26.23" />
      <replace token="@@LOGO_URL" value="http://logo.uat.educationdynamics.local" />
      <replace token="@@Five9SM2List" value="DEV TEST" />
      <replace token="@@Five9SM1SelectList" value="DEV TEST" />
      <replace token="@@Five9SM1PremierList" value="DEV TEST" />
      <replace token="@@Five9SM1GoldList" value="DEV TEST" />
      <replace token="@@Five9WTTList" value="DEV TEST" />
      <replace token="@@WEBSERVICE_ABEAService" value="http://localhost/EDDY.IS.ABEA.Service/Service.svc" />
      <replace token="@@WEBSERVICEURL_ADSERVER" value="http://agrservice.uat.educationdynamics.local/Scripts/Bundles/EddyAdAggregator" />
    </environment>
    <environment name="UAT2">
      <replace token="@@NEXUSDBSERVER" value="uat2isdb.eddycorp.local" />
      <replace token="@@WEBSERVICEURL_LEADPING" value="http://leadping.uat2.educationdynamics.local" />
      <replace token="@@WEBSERVICE_MATCHINGENGINE" value="http://localhost/EDDY.IS.MatchingEngine.Service/MatchingService.svc" />
      <replace token="@@BETA_MATCHINGENGINE_WEBSERVICE" value="http://localhost/EDDY.IS.MatchingEngine.Service.Beta/MatchingService.svc" />
      <replace token="@@WEBSERVICE_PROSPECT" value="http://localhost/EDDY.ProspectService.Service/ProspectService.svc/soap" />
      <replace token="@@WEBSERVICE_PIXEL" value="http://localhost/EDDY.IS.Pixel.Service/V2/Soap/Service.svc" />
      <replace token="@@LEADSCORING" value="http://localhost/EDDY.IS.LeadScoring.Service/LeadScoringService.svc" />
      <replace token="@@WEBSERVICE_VALIDATIONSERVICE" value="http://localhost/EDDY.IS.ValidationEngine.Service/ValidationService.svc" />
      <replace token="@@DNSSERVERIP1" value="192.168.26.22" />
      <replace token="@@DNSSERVERIP2" value="192.168.26.23" />
      <replace token="@@LOGO_URL" value="http://logo.uat2.educationdynamics.local" />
      <replace token="@@Five9SM2List" value="DEV TEST" />
      <replace token="@@Five9SM1SelectList" value="DEV TEST" />
      <replace token="@@Five9SM1PremierList" value="DEV TEST" />
      <replace token="@@Five9SM1GoldList" value="DEV TEST" />
      <replace token="@@Five9WTTList" value="DEV TEST" />
      <replace token="@@WEBSERVICE_ABEAService" value="http://localhost/EDDY.IS.ABEA.Service/Service.svc" />
      <replace token="@@WEBSERVICEURL_ADSERVER" value="http://agrservice.uat2.educationdynamics.local/Scripts/Bundles/EddyAdAggregator" />
    </environment>
  </environments>

</configFile>