<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="featureFlags" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="componentTemplates" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EDDY.IS.Validation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="FEEntitiesContainer" connectionString="metadata=res://*/DataModel.FEModel.csdl|res://*/DataModel.FEModel.ssdl|res://*/DataModel.FEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcpa-sql1;initial catalog=Nexus;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Nexus_Validation_Entities" connectionString="metadata=res://*/DataModel.VEModel.csdl|res://*/DataModel.VEModel.ssdl|res://*/DataModel.VEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcpa-sql1;initial catalog=Nexus;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Nexus_Lead_Entities" connectionString="metadata=res://*/DataModel.LEModel.csdl|res://*/DataModel.LEModel.ssdl|res://*/DataModel.LEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcpa-sql1;initial catalog=Nexus;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EddyLoggingEntities" connectionString="metadata=res://*/DataModel.DataMappings.csdl|res://*/DataModel.DataMappings.ssdl|res://*/DataModel.DataMappings.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcpa-sql1;initial catalog=EddyLogging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.1.0" newVersion="13.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--<add key="FormsEngineAjaxDomain" value="https://forms.educationdynamics.com"/>-->
    <add key="RedisServer" value="eddydevqa.redis.cache.windows.net:6380,password=/lgdvNAAewQ/5+DK06l6f++WM/lTzjuMFqAOx01G6C0=,ssl=True,abortConnect=False" />
    <add key="RedisCachePrefix" value="dev-an" />
    <add key="RedisCacheSessionMinutes" value="60" />
    <add key="FormsEngineAjaxDomain" value="http://localhost:59955/" />
    <add key="MultipleSaveProtection" value="True" />
    <add key="MultipleSaveProtectionMinutes" value="30" />
    <add key="WTTTestInstitutions" value="357" />
    <add key="WTTPercentRoute" value="100" />
    <add key="BundlingMinification" value="true" />
    <add key="ProgramTemplateDefaultRenderingStrategy" value="ORIGINAL" />
    <add key="LeadPingJavascript" value="https://cycle.educationdynamics.com/v3/client/javascript/leadping.js" />
    <add key="GetTemplateControlData_Cache_MinuteTimeOut" value="120" />
    <add key="FormsEngineSessionMinutes" value="20" />
    <add key="CacheTemplatesTimeMinutes" value="3" />
    <add key="CacheTemplateMappingsTimeMinutes" value="3" />
    <add key="CacheKVCodeDataMinutes" value="120" />
    <add key="CacheProgamLevelMinutes" value="120" />
    <add key="EmailValidationLevel" value="3" />
    <add key="CacheTemplatesEnabled" value="True" />
    <add key="WebLeadsServerSideValidationEnabled" value="True" />
    <add key="ProspectStatusIdWizardMatched" value="524" />
    <add key="ProspectStatusIdWizardLimbo" value="523" />
    <add key="ProspectFlowTypeId" value="1" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="DebugLinqStatements" value="true" />
    <add key="UserSessionCacheExpirationMinutes" value="10" />
    <add key="EddyLogoImageSizeSmall" value="120x40.png" />
    <add key="EddyLogoImageSizeMedium" value="150x50.gif" />
    <add key="EddyLogoImageSizeLarge" value="240x80.gif" />
    <add key="EddyLogoImagePathDomain" value="https://logo.educationdynamics.com" />
    <add key="EddyLogoImagePathInstitution" value="/{0}/Logo_{1}" />
    <!-- InstitutionId, Size/type -->
    <add key="EddyLogoImageFileName" value="Logo_{0}" />
    <!-- InstitutionId, CampusId, Size/type -->
    <add key="MaxCrossSellUserSelections" value="3" />
    <add key="MaxCrossSellProgramsToDisplay" value="99" />
    <add key="PerformanceLoggingEnabled" value="1" />
    <add key="PerformanceLoggingLevel" value="10" />
    <!-- PerformanceLoggingPersistanceMedium - this setting is where to log to...acceptable values are:
            1 - Database
            2 - Debug Console Window
            3 - Trace Console Window
    -->
    <add key="PerformanceLoggingPersistanceMedium" value="1" />
    <add key="PerformanceLoggingThreshold" value="100" />
    <add key="ExpressConsentOn" value="true" />
    <add key="ExpressConsentVersionDefault" value="B" />
    <add key="CacheResourceMetaDatasTimeMinutes" value="1440" />
    <add key="CacheEMSTCPAMessagesTimeMinutes" value="440" />
    <add key="CacheCampaignApplicationIdsTimeMinutes" value="120" />
    <add key="EntityFrameworkCommandTimeout" value="300" />
    <add key="Five9SM2List" value="DEV TEST" />
    <add key="Five9SM1SelectList" value="DEV TEST" />
    <add key="Five9SM1PremierList" value="DEV TEST" />
    <add key="Five9SM1GoldList" value="DEV TEST" />
    <add key="Five9WTTList" value="DEV TEST" />
    <add key="InternationalWizardTemplatePaidId" value="394" />
    <add key="InternationalWizardTemplateSEOId" value="421" />
    <add key="EmsLeadEngineCreateFromISUrl" value="http://emslead.ping.educationdynamics.local/api/emslead/CreateFromIS" />
    <add key="EmsLeadEngineAuthToken" value="79E209BC-666B-4660-B566-732B81FC9AA2" />
    <add key="CreativePortalUrl" value="http://creative.ping.educationdynamics.local" />
    <add key="CCPAMessageEnabled" value="true" />
    <add key="EMSAPIPreValidatedTemplateId" value="605" />
    <add key="GooglePlacesApiKey" value="AIzaSyDsgeFPZxrDpPs0c-PRVsfLg8EF2eKNOIY" />
    <add key="IsSpamAllowedForDelivery" value="true" />
    <add key="IsTestEnvironment" value="true" />
    <add key="EnvironmentName" value="fe" />
    <add key="TestingReplacementUrl" value="https://fe.elearners.local/lps/FEChanges_SelectAllNOTRequired" />
  </appSettings>
  <featureFlags>
  </featureFlags>
  <componentTemplates>
    <add key="ComponentDirectory" value="/Templates/Common/Components/" />
    <add key="FailedMatchReplacement" value="FailedMatchReplacement.cshtml" />
    <add key="SchoolPickerMatch" value="SchoolPickerMatch.cshtml" />
  </componentTemplates>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPixelsService" />
        <binding name="BasicHttpBinding_IService" />
        <binding name="BasicHttpBinding_IProspectService" />
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_ILeadScoringService" />
        <binding name="BasicHttpBinding_IMatchingService" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IValidationService" />
        <binding name="Targus.ClientSoap" />
        <binding name="basicHttpEndPoint" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_IMatchingService">
          <binaryMessageEncoding />
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
      </customBinding>
      <netNamedPipeBinding>
        <binding name="netnamedPipeEndPoint" />
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="netTcpBinding_IMatchingService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transferMode="Buffered" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="netTcpEndPoint">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IPixelsService" />
        <binding name="NetTcpBinding_ICampaign">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="wsDualHttpEndpoint" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <!--nexuatws01/EDDY.IS.MatchingEngine.Service-->
      <endpoint address="http://tcpa-issvc1/EDDY.IS.MatchingEngine.Service/MatchingService.svc" binding="customBinding" bindingConfiguration="CustomBinding_IMatchingService" contract="MatchingEngine.IMatchingService" name="BasicHttpBinding_IMatchingService" />
      <!--<endpoint address="http://localhost:57493/MatchingService.svc" binding="customBinding" bindingConfiguration="CustomBinding_IMatchingService" contract="MatchingEngine.IMatchingService" name="BasicHttpBinding_IMatchingService" />-->
      <endpoint address="http://tcpa-issvc1/EDDY.IS.MatchingEngine.Service/MatchingService.svc" binding="customBinding" bindingConfiguration="CustomBinding_IMatchingService" contract="MatchingEngine.IMatchingService" name="BasicHttpBinding_IMatchingService_Beta" />
      <endpoint address="http://tcpa-issvc1/EDDY.ProspectService.Service/ProspectService.svc/soap" binding="basicHttpBinding" bindingConfiguration="basicHttpEndPoint" contract="ProspectService.IProspectService" name="BasicHttpBinding_IProspectService" />
      <endpoint address="http://tcpa-issvc1/EDDY.IS.Pixel.Service/V2/Soap/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="PixelsService.IService" name="BasicHttpBinding_IService1" />
      <endpoint address="http://tcpa-issvc1/EDDY.IS.LeadScoring.Service/LeadScoringService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILeadScoringService" contract="LeadScoringService.ILeadScoringService" name="BasicHttpBinding_ILeadScoringService" />
      <endpoint address="http://webapp.targusinfo.com/ws-getdata/query.asmx" binding="basicHttpBinding" bindingConfiguration="Targus.ClientSoap" contract="TargusInfo.ClientSoap" name="ClientSoap" />
      <endpoint address="http://leadping.cycle.educationdynamics.local/V3/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="LeadPingService.IService" name="BasicHttpBinding_IService" />
      <endpoint address="http://tcpa-issvc1/EDDY.IS.ABEA.Service/Service.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpEndPoint" contract="Five9Service.IService" name="BasicHttpBinding_Five9Service" />
      <endpoint address="http://tcpa-issvc1/EDDY.IS.ValidationEngine.Service/ValidationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IValidationService" contract="ValidationService.IValidationService" name="BasicHttpBinding_IValidationService" />
    </client>
  </system.serviceModel>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!--<sessionState mode="Off"/>-->
    <httpRuntime targetFramework="4.5.1" maxQueryStringLength="32768" />
    <compilation debug="true" targetFramework="4.5.1" />
    <customErrors mode="Off" />
    <!--<sessionState mode="InProc" timeout="60"  cookieless="true"></sessionState>-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="EDDY.IS.FormsEngine.Services.Controllers.Common" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <rewrite>
      <rules>
        <rule name="GoogleDFP" stopProcessing="true">
          <match url="^Templates/Common/js/External/GoogleDFP.js$" />
          <action type="Redirect" url="http://agrservice.perf.educationdynamics.local/Scripts/Bundles/EddyAdAggregator" />
        </rule>
      </rules>
    </rewrite>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="32767" maxQueryString="32767" />
      </requestFiltering>
    </security>
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <EDDY.IS.Validation.Properties.Settings>
      <setting name="CacheAreaCodeTimeMinutes" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="EmailVerificationLogEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EmailVerifyLicenseKey" serializeAs="String">
        <value>YBw+WfUBqIn3iSE6t+hLdrdN0uKYBgjmKruVePA0N+7dMHv3E3xQ3Huyzr1omKivzZqxag==</value>
      </setting>
      <setting name="CacheEmailVerificationResultTimeMinutes" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="EmailVerifyDNSServers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>192.168.56.10</string>
            <string>192.168.10.12</string>
            <string>192.168.10.2</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="EmailVerifyDNSTimeout" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="CacheDomainWhiteListDays" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="TargusServiceID" serializeAs="String">
        <value>9212800539</value>
      </setting>
      <setting name="TargusUsername" serializeAs="String">
        <value>EdDyne</value>
      </setting>
      <setting name="TargusPassword" serializeAs="String">
        <value>Kx47aP5Q</value>
      </setting>
      <setting name="TargusPhoneCacheMinutes" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="CacheZipCodeTimeMinutes" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="EmailXVerifyURL" serializeAs="String">
        <value>http://www.xverify.com/services/emails/verify/?email={0}&amp;type=json&amp;apikey=1009547-76C60BE5&amp;domain=educationdynamics.com</value>
      </setting>
    </EDDY.IS.Validation.Properties.Settings>
  </applicationSettings>
</configuration>
