<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EDDY.IS.Validation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Nexus_FormsEngineEntities" connectionString="metadata=res://*/DataModel.DataMappings.csdl|res://*/DataModel.DataMappings.ssdl|res://*/DataModel.DataMappings.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=eddydb01\dev02;initial catalog=Nexus_R2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Nexus_Validation_Entities" connectionString="metadata=res://*/DataModel.DataMappings.csdl|res://*/DataModel.DataMappings.ssdl|res://*/DataModel.DataMappings.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=eddydb01\dev02;initial catalog=Nexus_R2;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Nexus_Lead_Entities" connectionString="metadata=res://*/DataModel.DataMappings.csdl|res://*/DataModel.DataMappings.ssdl|res://*/DataModel.DataMappings.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=eddydb01\dev02;initial catalog=Nexus_R2;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EddyLoggingEntities" connectionString="metadata=res://*/DataModel.DataMappings.csdl|res://*/DataModel.DataMappings.ssdl|res://*/DataModel.DataMappings.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=eddydb01\dev02;initial catalog=EddyLogging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="CacheTemplatesTimeMinutes" value="1440" />
    <add key="CacheTemplateMappingsTimeMinutes" value="120" />
    <add key="EmailValidationLevel" value="3" />
    <add key="CacheTemplatesEnabled" value="True" />
    <add key="CacheTemplatesTimeMinutes" value="120" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="DebugLinqStatements" value="true"/>
    <add key="UserSessionCacheExpirationMinutes" value="10"/>
    <add key="EddyLogoImageSizeSmall" value="120x40.png" />
    <add key="EddyLogoImageSizeMedium" value="150x50.gif" />
    <add key="EddyLogoImageSizeLarge" value="240x80.gif" />
    <add key="EddyLogoImagePathDomain" value="http://logo.educationdynamics.com" />
    <add key="EddyLogoImagePathInstitution" value="/{0}/Logo_{1}" />
    <!-- InstitutionId, Size/type -->
    <add key="EddyLogoImagePathCampus" value="/{0}/{1}/Logo_{2}" />
    <!-- InstitutionId, CampusId, Size/type -->
    <add key="MaxCrossSellUserSelections" value="3"/>
    <add key="MaxCrossSellProgramsToDisplay" value="99"/>
    <add key="PerformanceLoggingEnabled" value="0" />
    <add key="PerformanceLoggingLevel" value="5" />
    <add key="PerformanceLoggingPersistanceMedium" value="1"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMatchingService" maxReceivedMessageSize="2147483647" />
        <binding name="basicHttpEndPoint" />
        <binding name="BasicHttpBinding_IPixelsService" />
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="netnamedPipeEndPoint" />
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="netTcpBinding_IMatchingService" closeTimeout="00:10:00"
         openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
         transferMode="Buffered" hostNameComparisonMode="StrongWildcard"
         maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
           maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="netTcpEndPoint">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IPixelsService" />
        <binding name="NetTcpBinding_ICampaign">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="wsDualHttpEndpoint" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/EDDY.IS.MatchingEngine.Service/MatchingService.svc"
				binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatchingService"
				contract="MatchingEngine.IMatchingService" name="BasicHttpBinding_IMatchingService" />

      <endpoint address="http://localhost/EDDY.Is.MatchingEngine.Service.Beta/MatchingService.svc"
				binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatchingService"
				contract="MatchingEngine.IMatchingService" name="BasicHttpBinding_IMatchingService_Beta" />
      <!--DEV:::-->
      <endpoint address="http://localhost/EDDY.IS.Prospecting.Web/ProspectService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="basicHttpEndPoint"
                contract="ProspectService.IProspectService" name="basicHttpEndPoint" />

	  <!--QA:::-->
	  <!--<endpoint address="http://localhost/EDDY.ProspectService.Service/ProspectService.svc/soap"
		        binding="basicHttpBinding" bindingConfiguration="basicHttpEndPoint"
				contract="ProspectService.IProspectService" name="BasicHttpBinding_IProspectService" />-->
	  
	  <endpoint address="http://localhost/EDDY.PixelsService.Service/PixelsService.svc"
				binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPixelsService"
				contract="PixelsService.IPixelsService" name="BasicHttpBinding_IPixelsService" />

    </client>
  </system.serviceModel>
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off"/>
    <sessionState mode="InProc" timeout="60"  cookieless="false"></sessionState>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" >
      <remove name="UrlRoutingModule"/>
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <applicationSettings>
    <EDDY.IS.Validation.Properties.Settings>
      <setting name="CacheAreaCodeTimeMinutes" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="EmailVerificationLogEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EmailVerifyLicenseKey" serializeAs="String">
        <value>HEP (Unlimited Developer)/4957268F592206023750F999D4AB302#B</value>
      </setting>
      <setting name="CacheEmailVerificationResultTimeMinutes" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="EmailVerifyDNSServers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>192.168.56.10</string>
            <string>192.168.10.12</string>
            <string>192.168.10.2</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="EmailVerifyDNSTimeout" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="CacheDomainWhiteListDays" serializeAs="String">
        <value>90</value>
      </setting>
    </EDDY.IS.Validation.Properties.Settings>
  </applicationSettings>
</configuration>