<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.serviceModel>
    <client>

      <endpoint name="BasicHttpBinding_IMatchingService"
                address="http://PROJECT_NAME-issvc1/EDDY.IS.MatchingEngine.Service/MatchingService.svc"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint name="BasicHttpBinding_IMatchingService_Beta"
                address="http://PROJECT_NAME-issvc1/EDDY.IS.MatchingEngine.Service/MatchingService.svc"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint name="BasicHttpBinding_IProspectService"
                address="http://PROJECT_NAME-issvc1/EDDY.ProspectService.Service/ProspectService.svc/soap"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint name="BasicHttpBinding_IService1"
                address="http://PROJECT_NAME-issvc1/EDDY.IS.Pixel.Service/V2/Soap/Service.svc"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint name="BasicHttpBinding_ILeadScoringService"
                address="http://PROJECT_NAME-issvc1/EDDY.IS.LeadScoring.Service/LeadScoringService.svc"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint name="BasicHttpBinding_Five9Service"
                address="http://PROJECT_NAME-issvc1/EDDY.IS.ABEA.Service/Service.svc"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint name="BasicHttpBinding_IValidationService"
                address="http://PROJECT_NAME-issvc1/EDDY.IS.ValidationEngine.Service/ValidationService.svc"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint name="BasicHttpBinding_IService"
                address="http://PROJECT_NAME-leadping/V3/Service.svc"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

    </client>
  </system.serviceModel>


  <!-- ===================== -->
  <!-- Connection Strings Replace -->
  <!-- ===================== -->
  <connectionStrings>

    <add name="FEEntitiesContainer"
         connectionString="metadata=res://*/DataModel.FEModel.csdl|res://*/DataModel.FEModel.ssdl|res://*/DataModel.FEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PROJECT_NAME-sql1;initial catalog=Nexus;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />

    <add name="Nexus_Validation_Entities"
         connectionString="metadata=res://*/DataModel.VEModel.csdl|res://*/DataModel.VEModel.ssdl|res://*/DataModel.VEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PROJECT_NAME-sql1;initial catalog=Nexus;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />

    <add name="Nexus_Lead_Entities"
         connectionString="metadata=res://*/DataModel.LEModel.csdl|res://*/DataModel.LEModel.ssdl|res://*/DataModel.LEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PROJECT_NAME-sql1;initial catalog=Nexus;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />

    <add name="EddyLoggingEntities"
         connectionString="metadata=res://*/DataModel.DataMappings.csdl|res://*/DataModel.DataMappings.ssdl|res://*/DataModel.DataMappings.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PROJECT_NAME-sql1;initial catalog=EddyLogging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />

  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
