<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="MatchingEngineEntities" connectionString="metadata=res://*/DataModel.DataMappings.csdl|res://*/DataModel.DataMappings.ssdl|res://*/DataModel.DataMappings.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EDDYDB01\uat2;initial catalog=Nexus;integrated security=True;multipleactiveresultsets=True;application name=MatchingEngine&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MatchingEngineModelContainer" connectionString="metadata=res://*/DataModel.MatchingEngineModel.csdl|res://*/DataModel.MatchingEngineModel.ssdl|res://*/DataModel.MatchingEngineModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cycle-sql1.eddycorp.local;initial catalog=Nexus;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50806/V3/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="LeadPingService.IService" name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.1.0" newVersion="13.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>