<?xml version="1.0" encoding="utf-8"?>
<configFile output="Web.config">
  <configuration>
    <configSections>
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <entityFramework>
      <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
      <providers>
        <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
    </entityFramework>

    <appSettings>
      <add key="SM_MaxDistanceInMiles" value="30"/>
      <add key="IsBeta" value="false"/>
      <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

      <!-- SRA CACHE SETTINGS -->
      <add key="ME_SRADefinition_ExpirationMinutes" value="120"/>
      <add key="ME_SRAeRPL_ExpirationMinutes" value="120"/>
      <add key="ME_SRAStrategic_ExpirationMinutes" value="120"/>

      <add key="ME_ZipCodeCoordinates_ExpirationMinutes" value="1500"/>

      <!-- ALLOWED WARM TRANSFER SILVER DUPLICATE INSTITUTIONS -->
      <add key="WTSilverDupeInstitutions" value="5543,5544,5545,347,5546,5348" />

      <!-- RULE CACHE SETTINGS -->
      <add key="ME_RECaps_ExpirationMinutes" value="5"/>
      <add key="ME_RERuleFactory_ExpirationMinutes" value="1500"/>
      <add key="ME_REProgramLevelToEdLevelMapping_ExpirationMinutes" value="30"/>
      <add key="ME_REProgramToEdLevelMapping_ExpirationMinutes" value="30"/>
      <add key="ME_REClientRelationProductMapping_ExpirationMinutes" value="30"/>
      <add key="ME_REClientCampusProductMapping_ExpirationMinutes" value="30"/>
      <add key="ME_RECountryGeoData_ExpirationMinutes" value="30"/>
      <add key="ME_REStateGeoData_ExpirationMinutes" value="30"/>
      <add key="ME_RERuleDefinitionData_ExpirationMinutes" value="30"/>
      <add key="ME_REKVCodeData_ExpirationMinutes" value="30"/>
      <add key="ME_REProgramProductTemplateAssignment_ExpirationMinutes" value="30"/>
      <add key="ME_RECallCenterHours_ExpirationMinutes" value="30"/>
      <add key="ME_REWarmTransferInfo_ExpirationMinutes" value="1"/>
      <add key="ME_RECampusCallCenterHours_ExpirationMinutes" value="30"/>
      <add key="ME_ChannelGroups_ExpirationMinutes" value="30"/>
      <add key="ME_LeadScoreReservationConfigurations_ExpirationMinutes" value="10"/>
      <add key="ME_LeadScoreReservationSupplyUnits_ExpirationMinutes" value="5"/>
      
      <!-- CONTENT CACHE SETTINGS-->
      <add key="ME_ProgramContent_ExpirationMinutes" value="30"/>
      <add key="ME_InstitutionContent_ExpirationMinutes" value="30"/>
      <add key="ME_CampusContent_ExpirationMinutes" value="30"/>
      <add key="ME_ProgramLevelContent_ExpirationMinutes" value="120"/>
      <add key="ME_SubjectContent_ExpirationMinutes" value="120"/>
      <add key="ME_CategoryContent_ExpirationMinutes" value="120"/>
      <add key="ME_SpecialtyContent_ExpirationMinutes" value="120"/>
      <add key="ME_CampusNumbersContent_ExpirationMinutes" value="120"/>

      <add key="ME_CrossSellMapping_ExpirationMinutes" value="120"/>
      <add key="ME_Features_ExpirationMinutes" value="120"/>
      <add key="ME_MatchDatabase_ExpirationMinutes" value="5"/>
      <add key="ME_InstitutionGroup_ExpirationMinutes" value="120"/>
      <add key="ME_CampusZipCode_ExpirationMinutes" value="120"/>

      <!-- LAZY LOADED CACHE ITEMS SETTINGS-->
      <add key="ME_REZipCodeGeoData_ExpirationMinutes" value="30"/>
      <add key="ME_Campaign_ExpirationMinutes" value="30"/>

      <add key="ME_CampaignRestrictedTemplates_ExpirationMinutes" value="5" />
      <add key="ME_ClientRelationshipSchedules_ExpirationMinutes" value="60" />
      
      <add key="MaxPacketSizeList" value="VW_Matching_ProgramProductWithApplicationSubject,VW_Matching_ProgramProductWithApplicationSubject_Prod,VW_Matching_ProgramContent,VW_Matching_ProgramContent_Prod,VWZipCodeCoordinate"/>
      <add key="EntityFrameworkCommandTimeout" value="300"/>
      <!-- PERFORMANCE LOGGING SETTINGS - ONLY CHANGE IF YOU KNOW THE VALUES -->
      <add key="PerformanceLoggingEnabled" value="1" />
      <add key="PerformanceLoggingLevel" value="5" />
      <!-- PerformanceLoggingPersistanceMedium - this setting is where to log to...acceptable values are:
            1 - Database
            2 - Debug Console Window
            3 - Trace Console Window
    -->
      <add key="PerformanceLoggingPersistanceMedium" value="1"/>
      <add key="PerformanceLoggingThreshold" value="100" />

      <!-- MATCH RESPONSE LOGGING SETTINGS  VALUES ARE 0 or 1 -->
      <add key="MatchResponseLogging_GetWizardMatches" value="1"/>
      <add key="MatchResponseLogging_GetProgramsForCrossSell" value="1"/>

      <add key="MatchResponseLogging_GetPrograms" value="0"/>
      <add key="MatchResponseLogging_GetCampuses" value="0"/>
      <add key="MatchResponseLogging_GetInstitutions" value="0"/>
      <add key="MatchResponseLoggingRequestInput" value="0"/>

      <!-- SOFTROCK TIME SETTINGS -->
      <add key="SoftrockReservationMorningHour" value="7" />
      <add key="SoftrockReservationEveningHour" value="22" />

      <add key="LeadScoringAddSmartMatchTiers" value="1,2,3" />
      
    </appSettings>
    <system.web>
      <compilation debug="false" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5"/>
    </system.web>
    <system.serviceModel>
      <services>
        <service name="EDDY.IS.MatchingEngine.Service.MatchingService">
          <endpoint address="" binding="customBinding" bindingConfiguration="customBinding" contract="EDDY.IS.MatchingEngine.Service.IMatchingService" />
          <endpoint address="json" binding="webHttpBinding" behaviorConfiguration="json" bindingConfiguration="" contract="EDDY.IS.MatchingEngine.Service.IMatchingService" />
          <endpoint address="soap" binding="basicHttpBinding" contract="EDDY.IS.MatchingEngine.Service.IMatchingService" />
          <!--<endpoint address="pipe" binding="netNamedPipeBinding" contract="EDDY.IS.MatchingEngine.Service.IMatchingService" />-->
        </service>
      </services>
      <bindings>
        <customBinding>
          <binding name="customBinding">
            <binaryMessageEncoding/>
            <httpTransport useDefaultWebProxy="false"/>
          </binding>
        </customBinding>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IService" />
          <binding name="LargeSettings"
                   maxBufferSize="2147483646"
                   maxBufferPoolSize="2147483646"
                   maxReceivedMessageSize="2147483646">
          </binding>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="@@WEBSERVICEURL_LEADPING/v3/Service.svc"
          binding="basicHttpBinding" bindingConfiguration="LargeSettings"
          contract="LeadPingService.IService" name="BasicHttpBinding_IService" />
      </client>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
            <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
            <serviceDebug includeExceptionDetailInFaults="true"/>
            <dataContractSerializer maxItemsInObjectGraph="655360000"/>
          </behavior>
        </serviceBehaviors>
        <endpointBehaviors>
          <behavior name="json">
            <webHttp />
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
      <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
      <directoryBrowse enabled="false"/>
    </system.webServer>
    <connectionStrings>
      <add name="MatchingEngineModelContainer" connectionString="metadata=res://*/DataModel.MatchingEngineModel.csdl|res://*/DataModel.MatchingEngineModel.ssdl|res://*/DataModel.MatchingEngineModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=@@NEXUSDBSERVER;initial catalog=Nexus;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="EddyLoggingEntities" connectionString="metadata=res://*/DataModel.DataMappings.csdl|res://*/DataModel.DataMappings.ssdl|res://*/DataModel.DataMappings.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=@@NEXUSDBSERVER;initial catalog=EddyLogging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="MatchLoggingModelContainer" connectionString="metadata=res://*/DataModel.MatchLoggingModel.csdl|res://*/DataModel.MatchLoggingModel.ssdl|res://*/DataModel.MatchLoggingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=@@NEXUSDBSERVER;initial catalog=EddyTracking;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    </connectionStrings>

    <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  </configuration>

  <environments>
    <environment name="PRODUCTION">
      <replace token="@@NEXUSDBSERVER" value="isdb.eddyprod.local" />
      <replace token="@@WEBSERVICEURL_LEADPING" value="http://leadping.educationdynamics.com" />
    </environment>
    <environment name="ProdSupport">
      <replace token="@@NEXUSDBSERVER" value="eddydb01\prod" />
      <replace token="@@WEBSERVICEURL_LEADPING" value="http://leadping.prod.educationdynamics.local" />
    </environment>
    <environment name="QA">
      <replace token="@@NEXUSDBSERVER" value="eddyqadb01" />
      <replace token="@@WEBSERVICEURL_LEADPING" value="http://leadping.qa.educationdynamics.local" />
    </environment>
    <environment name="QAStage">
      <replace token="@@NEXUSDBSERVER" value="eddydb01\qastage" />
      <replace token="@@WEBSERVICEURL_LEADPING" value="http://leadping.qastage.educationdynamics.local" />
    </environment>
    <environment name="Deploy">
      <replace token="@@NEXUSDBSERVER" value="perfdb01\deploy" />
      <replace token="@@WEBSERVICEURL_LEADPING" value="http://leadping.deploy.educationdynamics.local" />
    </environment>
    <environment name="UAT">
      <replace token="@@NEXUSDBSERVER" value="eddyuatdb01" />
      <replace token="@@WEBSERVICEURL_LEADPING" value="http://leadping.uat.educationdynamics.local" />
    </environment>
    <environment name="UAT2">
      <replace token="@@NEXUSDBSERVER" value="eddydb01\uat2" />
      <replace token="@@WEBSERVICEURL_LEADPING" value="http://leadping.uat2.educationdynamics.local" />
    </environment>
  </environments>

</configFile>