<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="SM_MaxDistanceInMiles" value="30" />
    <add key="IsBeta" value="false" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!-- 2U Configurations -->
    <add key="Enable2UTCPAChange" value="true" />
    <add key="Enable2ULeadShare" value="true" />
    <!-- Ignore tracking id settings -->
    <add key="ListOfCommaSeparatedCampaignIdToUseWhenIgnoreTrackingId" value="1,2,8,9" />
    <add key="ApplicationIdToUseWhenIgnoreTrackingId" value="9" />
    <!-- SRA CACHE SETTINGS -->
    <add key="ME_SRADefinition_ExpirationMinutes" value="120" />
    <add key="ME_SRAeRPL_ExpirationMinutes" value="120" />
    <add key="ME_SRAStrategic_ExpirationMinutes" value="120" />
    <add key="ME_StatePricing_ExpirationMinutes" value="120" />
    <add key="ME_ZipCodeCoordinates_ExpirationMinutes" value="1500" />
    <add key="ME_Products_ExpirationMinutes" value="120" />
    <!-- RULE CACHE SETTINGS -->
    <add key="ME_RECaps_ExpirationMinutes" value="5" />
    <add key="ME_ClientRelationshipChannelCaps_ExpirationMinutes" value="2" />
    <add key="ME_RERuleFactory_ExpirationMinutes" value="1500" />
    <add key="ME_REProgramLevelToEdLevelMapping_ExpirationMinutes" value="30" />
    <add key="ME_REProgramToEdLevelMapping_ExpirationMinutes" value="30" />
    <add key="ME_REClientRelationProductMapping_ExpirationMinutes" value="30" />
    <add key="ME_REClientCampusProductMapping_ExpirationMinutes" value="30" />
    <add key="ME_RECountryGeoData_ExpirationMinutes" value="30" />
    <add key="ME_REStateGeoData_ExpirationMinutes" value="30" />
    <add key="ME_RERuleDefinitionData_ExpirationMinutes" value="30" />
    <add key="ME_REKVCodeData_ExpirationMinutes" value="30" />
    <add key="ME_REProgramProductTemplateAssignment_ExpirationMinutes" value="30" />
    <add key="ME_RECallCenterHours_ExpirationMinutes" value="30" />
    <add key="ME_REWarmTransferInfo_ExpirationMinutes" value="1" />
    <add key="ME_RECampusCallCenterHours_ExpirationMinutes" value="30" />
    <add key="ME_CapReservationConfigurations" value="30" />
    <add key="ME_CapReservationLeadCounts" value="5" />
    <add key="ME_CampaignCaps_ExpirationMinutes" value="30" />
    <add key="ME_ClickProgramProducts_ExpirationMinutes" value="30" />
    <add key="ME_ProgramDisplayGroups_ExpirationMinutes" value="30" />
    <!-- CONTENT CACHE SETTINGS-->
    <add key="ME_ProgramContent_ExpirationMinutes" value="30" />
    <add key="ME_InstitutionContent_ExpirationMinutes" value="30" />
    <add key="ME_CampusContent_ExpirationMinutes" value="30" />
    <add key="ME_ProgramLevelContent_ExpirationMinutes" value="120" />
    <add key="ME_SubjectContent_ExpirationMinutes" value="120" />
    <add key="ME_CategoryContent_ExpirationMinutes" value="120" />
    <add key="ME_SpecialtyContent_ExpirationMinutes" value="120" />
    <add key="ME_CampusNumbersContent_ExpirationMinutes" value="120" />
    <add key="ME_CrossSellMapping_ExpirationMinutes" value="120" />
    <add key="ME_Features_ExpirationMinutes" value="120" />
    <add key="ME_MatchDatabase_ExpirationMinutes" value="5" />
    <add key="ME_InstitutionGroup_ExpirationMinutes" value="120" />
    <add key="ME_CampusZipCode_ExpirationMinutes" value="120" />
    <add key="ME_ProgramAddresses_ExpirationMinutes" value="30" />
    <add key="ME_ClientRelationshipSchedules_ExpirationMinutes" value="60" />
    <add key="ME_InstitutionStartDate_ExpirationMinutes" value="120" />
    <add key="ME_ProgramStartDate_ExpirationMinutes" value="120" />
    <add key="ME_AgentDisallowedList_ExpirationMinutes" value="60" />
    <add key="ME_ClientRelationContacts_ExpirationMinutes" value="60" />
    <add key="ME_ClientCampusContacts_ExpirationMinutes" value="60" />
    <!-- LAZY LOADED CACHE ITEMS SETTINGS-->
    <add key="ME_REZipCodeGeoData_ExpirationMinutes" value="30" />
    <add key="ME_Campaign_ExpirationMinutes" value="30" />
    <add key="ME_CampaignRestrictedTemplates_ExpirationMinutes" value="5" />
    <!--<add key="MaxPacketSizeList" value="VW_Matching_ProgramProductWithApplicationSubject,VW_Matching_ProgramProductWithApplicationSubject_Prod,VW_Matching_ProgramContent,VW_Matching_ProgramContent_Prod,VWZipCodeCoordinate" />-->
    <add key="EntityFrameworkCommandTimeout" value="500" />
    <!-- PERFORMANCE LOGGING SETTINGS - ONLY CHANGE IF YOU KNOW THE VALUES -->
    <add key="PerformanceLoggingEnabled" value="1" />
    <add key="PerformanceLoggingDetail" value="1" />
    <add key="PerformanceLoggingLevel" value="20" />
    <!-- PerformanceLoggingPersistanceMedium - this setting is where to log to...acceptable values are:
            1 - Database
            2 - Debug Console Window
            3 - Trace Console Window
    -->
    <add key="PerformanceLoggingPersistanceMedium" value="2" />
    <add key="PerformanceLoggingThreshold" value="1" />
    <add key="PerformanceLoggingRequest" value="1" />
    <add key="PerformanceLoggingResponse" value="1" />
    <!-- MATCH RESPONSE LOGGING SETTINGS  VALUES ARE 0 or 1 -->
    <add key="MatchResponseLoggingDiscarded" value="1" />
    <add key="MatchResponseLoggingDisplayed" value="1" />
    <add key="MatchResponseLoggingDisplayedFactorScores" value="1" />
    <add key="MatchResponseLoggingLeadPingRequest" value="1" />
    <add key="MatchResponseLogging_GetApolloCampuses" value="1" />
    <add key="MatchResponseLogging_GetCampuses" value="1" />
    <add key="MatchResponseLogging_GetWizardMatches" value="1" />
    <add key="MatchResponseLoggingSearch" value="1" />
    <add key="MatchResponseLoggingDisplayed" value="1" />
    <add key="MatchResponseLoggingDisplayedFactorScores" value="1" />
    <add key="MatchResponseLoggingAsJson" value="1" />
    <add key="MatchResponseLoggingRemovalReasons" value="1" />
    <!-- SOFTROCK TIME SETTINGS -->
    <add key="SoftrockReservationMorningHour" value="7" />
    <add key="SoftrockReservationEveningHour" value="22" />
    <!-- ALLOWED WARM TRANSFER SILVER DUPLICATE INSTITUTIONS -->
    <add key="WTSilverDupeInstitutions" value="5543,5544,5545,347,5546,5348" />
    <!-- CTU / AIU Fail Safe Activation Flag -->
    <add key="IsActiveCecoSafetyCheck" value="false" />
    <!-- Premier Level Tiers for Lead Scoring -->
    <add key="LeadScoringPremierTiers" value="1,2,3,4,5,6" />
    <add key="LeadScoringAddSmartMatchTiers" value="1,2,3" />
    <add key="ExternalMatchProviderServiceURL" value="http://gpm-issvc1/EDDY.IS.ExternalMatch.Service/api/ExternalMatch/" />
    <add key="SpamCheckServiceURL" value="http://fe45af72-8beb-4dab-adc2-4f6d63730b68.eastus2.azurecontainer.io/score" />
    <add key="SpamRuleEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="EDDY.IS.MatchingEngine.Service.MatchingService">
        <endpoint address="" binding="customBinding" bindingConfiguration="customBinding" contract="EDDY.IS.MatchingEngine.Service.IMatchingService" />
        <endpoint address="json" binding="webHttpBinding" behaviorConfiguration="json" bindingConfiguration="" contract="EDDY.IS.MatchingEngine.Service.IMatchingService" />
        <endpoint address="soap" binding="basicHttpBinding" contract="EDDY.IS.MatchingEngine.Service.IMatchingService" />
        <!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="EDDY.IS.MatchingEngine.Service.IMatchingService" />-->
        <!--<endpoint address="pipe" binding="netNamedPipeBinding" contract="EDDY.IS.MatchingEngine.Service.IMatchingService" />-->
      </service>
    </services>
    <bindings>
      <customBinding>
        <binding name="customBinding">
          <binaryMessageEncoding />
          <httpTransport useDefaultWebProxy="false" />
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://leadping.gpm.educationdynamics.local/V3/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="LeadPingService.IService" name="BasicHttpBinding_IService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="655360000" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="json">
		    <webHttp helpEnabled="true" />
		</behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false" />
  </system.webServer>
  <connectionStrings>
    <add name="Nexus" connectionString="Server=upgrad-sql1;database=nexus;Integrated Security=SSPI;Connection Timeout=300" providerName="System.Data.SqlClient" />
    <add name="EddyLoggingEntities" connectionString="metadata=res://*/DataModel.DataMappings.csdl|res://*/DataModel.DataMappings.ssdl|res://*/DataModel.DataMappings.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=upgrad-sql1;initial catalog=EddyLogging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MatchLoggingModelContainer" connectionString="metadata=res://*/DataModel.MatchLoggingModel.csdl|res://*/DataModel.MatchLoggingModel.ssdl|res://*/DataModel.MatchLoggingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=upgrad-sql1;initial catalog=EddyTracking;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.1.0" newVersion="13.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>