<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMatchingService" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_IMatchingService">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://issvc01/EDDY.IS.MatchingEngine.Service/MatchingService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IMatchingService"
                contract="MatchingService.IMatchingService" name="CustomBinding_IMatchingService" />
            <endpoint address="http://issvc01/EDDY.IS.MatchingEngine.Service/MatchingService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatchingService"
                contract="MatchingService.IMatchingService" name="BasicHttpBinding_IMatchingService" />
        </client>
    </system.serviceModel>
</configuration>