<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EDDY.IS.Common.ExceptionHandler" version="2.0.0" targetFramework="net48" />
  <package id="EDDY.IS.Common.Logging" version="2.0.0" targetFramework="net48" />
  <package id="EDDY.IS.Common.Utilities" version="2.0.4" targetFramework="net48" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net48" />
  <package id="EnterpriseLibrary.Data" version="6.0.1304.0" targetFramework="net48" />
  <package id="EnterpriseLibrary.Logging" version="6.0.1304.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="System.Data.SqlClient" version="4.9.0" targetFramework="net48" />
</packages>