<?xml version="1.0" encoding="utf-8"?>
<configFile output="Web.config">
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="NexusEntities" connectionString="metadata=res://*/DataModels.NexusDataModel.csdl|res://*/DataModels.NexusDataModel.ssdl|res://*/DataModels.NexusDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=@@NEXUSDBSERVER;initial catalog=Nexus;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EddyLoggingEntities" connectionString="metadata=res://*/DataModels.EddyLoggingDataModel.csdl|res://*/DataModels.EddyLoggingDataModel.ssdl|res://*/DataModels.EddyLoggingDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=@@NEXUSDBSERVER;initial catalog=EddyLogging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EddyLogging" connectionString="Data Source=@@NEXUSDBSERVER;Initial Catalog=EddyLogging;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Nexus" connectionString="Data Source=@@NEXUSDBSERVER;Initial Catalog=Nexus;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="VerboseLogging" value="false" />
    <add key="SupportingDataCacheHourDurationValue" value="24" />
    <add key="ResponseDataCacheMinuteDurationValue" value="15" />
    <add key="MatchingEngineMaxRecords" value="1000" />
    <add key="LogoBaseURL" value="@@LOGOCONTENT_URL" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpEndPoint_IProspectService" closeTimeout="10:01:00" openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00" maxBufferPoolSize="5242880" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IGpFive9Service" closeTimeout="10:01:00" openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00" maxBufferPoolSize="5242880" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IMatchingService" closeTimeout="10:01:00" openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00" maxBufferPoolSize="5242880" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IFormsEngine" closeTimeout="10:01:00" openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00" maxBufferPoolSize="5242880" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_IMatchingService">
          <binaryMessageEncoding />
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/EDDY.IS.GPFive9.Service/GpFive9Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGpFive9Service" contract="GpFive9Service.IGpFive9Service" name="BasicHttpBinding_IGpFive9Service" />
      <endpoint address="http://localhost/EDDY.ProspectService.Service/ProspectService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndPoint_IProspectService" contract="ProspectService.IProspectService" name="basicHttpEndPoint" />
      <endpoint address="http://localhost/EDDY.IS.MatchingEngine.Service/MatchingService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatchingService" contract="MatchingService.IMatchingService" name="BasicHttpBinding_IMatchingService" />
      <endpoint address="http://localhost/EDDY.IS.FormsEngine.Service/Classic/FormsEngineAPI.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFormsEngine" contract="FormsEngineService.IFormsEngine" name="BasicHttpBinding_IFormsEngine" />
    </client>
  </system.serviceModel>
</configuration>

<environments>
  <environment name="PRODUCTION">
    <replace token="@@NEXUSDBSERVER" value="isdb.eddyprod.local" />
	<replace token="@@LOGOCONTENT_URL" value="http://content.educationdynamics.com/logo" />
  </environment>
  <environment name="ProdSupport">
    <replace token="@@NEXUSDBSERVER" value="prodsuppisdb.eddycorp.local" />
	<replace token="@@LOGOCONTENT_URL" value="http://content.prod.educationdynamics.local/logo" />
  </environment>
  <environment name="Performance">
    <replace token="@@NEXUSDBSERVER" value="perfisdb.eddycorp.local" />
	<replace token="@@LOGOCONTENT_URL" value="http://content.perf.educationdynamics.local/logo" />
  </environment>
  <environment name="QA">
    <replace token="@@NEXUSDBSERVER" value="qaisdb.eddycorp.local" />
	<replace token="@@LOGOCONTENT_URL" value="http://content.qa.educationdynamics.local/logo" />
  </environment>
  <environment name="QAStage">
    <replace token="@@NEXUSDBSERVER" value="qastageisdb.eddycorp.local" />
	<replace token="@@LOGOCONTENT_URL" value="http://content.qastage.educationdynamics.local/logo" />
  </environment>
  <environment name="Deploy">
    <replace token="@@NEXUSDBSERVER" value="deployisdb.eddycorp.local" />
	<replace token="@@LOGOCONTENT_URL" value="http://content.deploy.educationdynamics.local/logo" />
  </environment>
  <environment name="Dev">
    <replace token="@@NEXUSDBSERVER" value="devisdb.eddycorp.local" />
	<replace token="@@LOGOCONTENT_URL" value="http://content.dev.educationdynamics.local/logo" />
  </environment>
  <environment name="UAT">
    <replace token="@@NEXUSDBSERVER" value="uatisdb.eddycorp.local" />
	<replace token="@@LOGOCONTENT_URL" value="http://content.uat.educationdynamics.local/logo" />
  </environment>
  <environment name="UAT2">
    <replace token="@@NEXUSDBSERVER" value="uat2isdb.eddycorp.local" />
	<replace token="@@LOGOCONTENT_URL" value="http://content.uat2.educationdynamics.local/logo" />
  </environment>
  <environment name="mobile">
    <replace token="@@NEXUSDBSERVER" value="prodsuppisdb.eddycorp.local" />
	<replace token="@@LOGOCONTENT_URL" value="http://content.prod.educationdynamics.local/logo" />
  </environment>
</environments>
  
</configFile>