<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.serviceModel>
    <client>

      <endpoint name="BasicHttpBinding_IGpFive9Service"
                address="http://PROJECT_NAME-ISSVC1/EDDY.IS.GPFive9.Service/GpFive9Service.svc"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint name="basicHttpEndPoint"
                address="http://PROJECT_NAME-ISSVC1/EDDY.ProspectService.Service/ProspectService.svc/soap"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint name="BasicHttpBinding_IMatchingService"
                address="http://PROJECT_NAME-ISSVC1/EDDY.IS.MatchingEngine.Service/MatchingService.svc/soap"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint name="BasicHttpBinding_IFormsEngine"
                address="http://PROJECT_NAME-ISSVC1/EDDY.IS.FormsEngine.Service/Classic/FormsEngineAPI.svc"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

    </client>
  </system.serviceModel>
  <connectionStrings>

    <add name="NexusEntities"
         connectionString="metadata=res://*/DatabaseModel.ExternalMatchEntities.csdl|res://*/DatabaseModel.ExternalMatchEntities.ssdl|res://*/DatabaseModel.ExternalMatchEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PROJECT_NAME-sql1;initial catalog=Nexus;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />

    <add name="APINexusEntities"
         connectionString="metadata=res://*/DataModels.NexusDataModel.csdl|res://*/DataModels.NexusDataModel.ssdl|res://*/DataModels.NexusDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PROJECT_NAME-sql1;initial catalog=Nexus;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />

    <add name="EddyLoggingEntities"
         connectionString="metadata=res://*/DataModels.EddyLoggingDataModel.csdl|res://*/DataModels.EddyLoggingDataModel.ssdl|res://*/DataModels.EddyLoggingDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PROJECT_NAME-sql1;initial catalog=EddyLogging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />

    <add name="EddyLogging"
         connectionString="Data Source=PROJECT_NAME-sql1;Initial Catalog=EddyLogging;Integrated Security=True"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />

    <add name="Nexus"
         connectionString="Data Source=PROJECT_NAME-sql1;Initial Catalog=Nexus;Integrated Security=True"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />

    <add name="ContactCenter"
         connectionString="Data Source=PROJECT_NAME-sql1;Initial Catalog=ContactCenter;Integrated Security=True"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />

  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
