<?xml version="1.0" encoding="utf-8"?>
<!--sf-sql1
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
  <sources>
    <add name="LoggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="D:\Project_Cheetah\EDDY.Cheetah.CrossCutting\Exception Handling\Exception.config" />
  </sources>
  </enterpriseLibrary.ConfigurationSource>
  <dataConfiguration defaultDatabase="Nexus" />
  <connectionStrings>
    <!--External Match Nexus Entities -->
    <add name="NexusEntities" connectionString="metadata=res://*/DatabaseModel.ExternalMatchEntities.csdl|res://*/DatabaseModel.ExternalMatchEntities.ssdl|res://*/DatabaseModel.ExternalMatchEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=plc2-sql1;initial catalog=Nexus;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- API Nexus Entities -->
    <add name="APINexusEntities" connectionString="metadata=res://*/DataModels.NexusDataModel.csdl|res://*/DataModels.NexusDataModel.ssdl|res://*/DataModels.NexusDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=plc2-sql1;initial catalog=Nexus;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EddyLoggingEntities" connectionString="metadata=res://*/DataModels.EddyLoggingDataModel.csdl|res://*/DataModels.EddyLoggingDataModel.ssdl|res://*/DataModels.EddyLoggingDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=plc2-sql1;initial catalog=EddyLogging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add connectionString="Data Source=plc2-sql1;Initial Catalog=EddyLogging;Integrated Security=True" name="EddyLogging" providerName="System.Data.SqlClient" />
    <add name="Nexus" connectionString="Data Source=plc2-sql1;Initial Catalog=Nexus;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ContactCenter" connectionString="Data Source=plc2-sql1;Initial Catalog=ContactCenter;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="VerboseLogging" value="false" />
    <add key="SupportingDataCacheHourDurationValue" value="24" />
    <add key="ResponseDataCacheMinuteDurationValue" value="15" />
    <add key="MatchingEngineMaxRecords" value="1000" />
    <add key="LogoBaseURL" value="http://content.educationdynamics.com/logo" />
    <add key="EddyLogoImageFileName" value="Logo_{0}" />
    <add key="RequireContactSource" value="true" />
    <add key="RequireProgramMatchesContactSource" value="false" />
    <add key="RequireAgentName" value="true" />
    <!--hardcoded default urls for qsqaw3-->
    <add key="DefaultLeadSource" value="http://www.myleadsource.com" />
    <add key="DefaultLeadSourceURL" value="http://www.myleadsourceurl.com" />
    <add key="DefaultLeadInitiatingURLSource" value="http://www.myleadinitiatingurlsource.com" />
    <!--hardcoded default programproductids for edumax-->
    <add key="EduMaxLenexaDataProductId" value="116" />
    <add key="EduMaxLenexaWTProductId" value="117" />
    <add key="RedisPrefix" value="API_sf" />
    <add key="RedisConnection" value="eddydevqa.redis.cache.windows.net:6380,password=/lgdvNAAewQ/5+DK06l6f++WM/lTzjuMFqAOx01G6C0=,ssl=True,abortConnect=False" />
    <add key="RedisCacheDurationInMinutes" value="15" />
    <add key="UseRedisCaching" value="true" />
    <add key="EmsLeadEngineCreateFromISUrl" value="http://emslead.emsqa.educationdynamics.local/api/emslead/CreateFromIS" />
    <add key="EmsLeadEngineAuthToken" value="79E209BC-666B-4660-B566-732B81FC9AA2" />
	<add key="EmsLeadEngineBaseUrl" value="http://localhost:2000/" />
	<add key="EmsLeadEngineProcessFromDataExchangeEndpoint" value="api/emslead/processfromdataexchange" />
	<add key="EmsLeadEngineTimeoutMinutes" value="10" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
	  <!-- DEV-12 fix to implement https and HSTS -->
	  <rewrite>
		  <rules>
			  <rule name="HTTP to HTTPS redirect" stopProcessing="true">
				  <match url="(.*)" />
				  <conditions logicalGrouping="MatchAll">
					  <add input="{HTTPS}" pattern="off" ignoreCase="true" />

					  <!-- Do not force HTTPS for local dev -->
					  <add input="{HTTP_HOST}" pattern="^localhost(:\d+)?$" negate="true" ignoreCase="true" />
					  <add input="{HTTP_HOST}" pattern="^127\.0\.0\.1(:\d+)?$" negate="true" ignoreCase="true" />
				  </conditions>
				  <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
			  </rule>
		  </rules>
	  </rewrite>

	  <httpProtocol>
		  <customHeaders>
			  <!-- Remove locally. Keep HSTS in production only. -->
			  <remove name="Strict-Transport-Security" />
		  </customHeaders>
	  </httpProtocol>
	  <!-- DEV-12 fix end -->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpEndPoint_IProspectService" closeTimeout="10:01:00" openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00" maxBufferPoolSize="5242880" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGpFive9Service" closeTimeout="10:01:00" openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00" maxBufferPoolSize="5242880" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IMatchingService" closeTimeout="10:01:00" openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00" maxBufferPoolSize="5242880" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IFormsEngine" closeTimeout="10:01:00" openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00" maxBufferPoolSize="5242880" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_IMatchingService">
          <binaryMessageEncoding />
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://tag-ISSVC1/EDDY.IS.GPFive9.Service/GpFive9Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGpFive9Service" contract="GpFive9Service.IGpFive9Service" name="BasicHttpBinding_IGpFive9Service" />
      <endpoint address="http://tag-ISSVC1/EDDY.ProspectService.Service/ProspectService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndPoint_IProspectService" contract="ProspectService.IProspectService" name="basicHttpEndPoint" />
      <!--<endpoint address="http://localhost:54202/MatchingService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatchingService" contract="MatchingService.IMatchingService" name="BasicHttpBinding_IMatchingService" />-->
      <endpoint address="http://tag-ISSVC1/EDDY.IS.MatchingEngine.Service/MatchingService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatchingService" contract="MatchingService.IMatchingService" name="BasicHttpBinding_IMatchingService" />
      <!--<endpoint address="http://localhost:59955/Classic/FormsEngineAPI.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFormsEngine" contract="FormsEngineService.IFormsEngine" name="BasicHttpBinding_IFormsEngine" />-->
      <endpoint address="http://tag-ISSVC1/EDDY.IS.FormsEngine.Service/Classic/FormsEngineAPI.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFormsEngine" contract="FormsEngineService.IFormsEngine" name="BasicHttpBinding_IFormsEngine" />
    </client>
  </system.serviceModel>
</configuration>