<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MatchingEngineEntities" connectionString="metadata=res://*/DataModel.DataMappings.csdl|res://*/DataModel.DataMappings.ssdl|res://*/DataModel.DataMappings.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EDDYDB01\DEV02;initial catalog=Nexus_FLL_new;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
 <system.serviceModel>
  <bindings>
   <customBinding>
    <binding name="CustomBinding_IMatchingService">
     <binaryMessageEncoding />
     <httpTransport />
    </binding>
   </customBinding>
  </bindings>
  <client>
   <endpoint address="http://nexperfws01/EDDY.IS.MatchingEngine.Service/MatchingService.svc"
    binding="customBinding" bindingConfiguration="CustomBinding_IMatchingService"
    contract="MatchingService.IMatchingService" name="CustomBinding_IMatchingService" />
  </client>
 </system.serviceModel>
</configuration>