<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=qsqaw1-sql1.eddycorp.local;Initial Catalog=EddyLogging;Integrated Security=True" name="EddyLogging" providerName="System.Data.SqlClient" />
    <!--<add name="ContactCenterEntities" connectionString="metadata=res://*/DataModels.ContactCenter.csdl|res://*/DataModels.ContactCenter.ssdl|res://*/DataModels.ContactCenter.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qsqaw1-SQL1;initial catalog=ContactCenter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ContactCenterDataModel" connectionString="data source=qsqaw1-SQL1;initial catalog=ContactCenter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="APINexusEntities" connectionString="metadata=res://*/DataModels.NexusDataModel.csdl|res://*/DataModels.NexusDataModel.ssdl|res://*/DataModels.NexusDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=microgp-sql1;initial catalog=Nexus;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EddyLoggingEntities" connectionString="metadata=res://*/DataModels.EddyLoggingDataModel.csdl|res://*/DataModels.EddyLoggingDataModel.ssdl|res://*/DataModels.EddyLoggingDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qsqaw1-sql1;initial catalog=EddyLogging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ContactCenterEntities" connectionString="metadata=res://*/DataModels.ContactCenterDataModel.csdl|res://*/DataModels.ContactCenterDataModel.ssdl|res://*/DataModels.ContactCenterDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qsqaw1-SQL1;initial catalog=ContactCenter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ContactCenterEntities1" connectionString="metadata=res://*/DataModels.ContactCenterModel.csdl|res://*/DataModels.ContactCenterModel.ssdl|res://*/DataModels.ContactCenterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qsqaw1-sql1;initial catalog=ContactCenter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="Nexus" connectionString="Data Source=microgp-sql1;Initial Catalog=Nexus;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMatchingService" />
        <binding name="BasicHttpBinding_IFormsEngine" />
        <binding name="basicHttpEndPoint_IProspectService" />
        <binding name="BasicHttpBinding_IGpFive9Service" />
        <binding name="BasicHttpsBinding_IGpFive9Service">
          <security mode="Transport" />
        </binding>
        <binding name="basicHttpEndPoint" />
        <binding name="BasicHttpBinding_IFormsEngine1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_IMatchingService">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="netTcpEndPoint">
          <security mode="None" />
        </binding>
        <binding name="netTcpEndPoint1">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://nexprodws01.eddycorp.local/EDDY.ProspectService.Service/ProspectService.svc" binding="netTcpBinding" bindingConfiguration="netTcpEndPoint" contract="ProspectService.IProspectService" name="netTcpEndPoint" />
      <endpoint address="http://qsqaw1-issvc1/EDDY.ProspectService.Service/ProspectService.svc/soap" binding="basicHttpBinding" bindingConfiguration="basicHttpEndPoint_IProspectService" contract="ProspectService.IProspectService" name="basicHttpEndPoint" />
      <endpoint address="net.tcp://emsfe-issvc1.eddycorp.local/EDDY.ProspectService.Service/ProspectService.svc" binding="netTcpBinding" bindingConfiguration="netTcpEndPoint1" contract="ProspectService.IProspectService" name="netTcpEndPoint1" />
      <endpoint address="http://qsqaw1-issvc1/EDDY.IS.GPFive9.Service/GpFive9Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGpFive9Service" contract="GpFive9Service.IGpFive9Service" name="BasicHttpBinding_IGpFive9Service" />
      <endpoint address="https://qsqaw1-issvc1.eddycorp.local/EDDY.IS.GPFive9.Service/GpFive9Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IGpFive9Service" contract="GpFive9Service.IGpFive9Service" name="BasicHttpsBinding_IGpFive9Service" />
      <endpoint address="http://qsqaw1-issvc1/EDDY.IS.FormsEngine.Service/Classic/FormsEngineAPI.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFormsEngine" contract="FormsEngineService.IFormsEngine" name="BasicHttpBinding_IFormsEngine" />
      <endpoint address="http://tcpa-issvc1/EDDY.IS.FormsEngine.Service/Classic/FormsEngineAPI.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFormsEngine1" contract="FormsEngineService.IFormsEngine" name="BasicHttpBinding_IFormsEngine1" />
      <endpoint address="http://tag-issvc1/EDDY.IS.MatchingEngine.Service/MatchingService.svc" binding="customBinding" bindingConfiguration="CustomBinding_IMatchingService" contract="MatchingService.IMatchingService" name="CustomBinding_IMatchingService" />
      <endpoint address="http://tag-issvc1/EDDY.IS.MatchingEngine.Service/MatchingService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatchingService" contract="MatchingService.IMatchingService" name="BasicHttpBinding_IMatchingService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
