@inherits System.Web.Mvc.WebViewPage<EDDY.IS.FormsEngine.Services.Models.SponsoredListingModel>
@{

    if (!Model.IsEms)
    {
<div class="eddy-form-sponsored-link" id="sponsored-link">
    <a class="button" href="#popup1">Sponsored Listings<i class="fa fa-question-circle" aria-hidden="true">&nbsp;</i></a>
    <div class="overlay" id="popup1">
        <div class="popup">
            <a class="close-x" href="#sponsored-link">× </a>
            <div class="content">
                <p><a class="close" href="#sponsored-link"><img class="SponsoredListImage" alt="Sponsored Meaning Explained"></a></p>
            </div>
        </div>
    </div>
</div>
        }
    }
